---
title: kalte e blenz
---


<h1>
  <hacm>kalte e blenz</hacm> (land of flames)
</h1>

<p><a href="https://youtu.be/EVoOS-38URQ">Link (YouTube)</a></p>

<p class="hacm">
  rens / kelk: kozet <br />
  ivl: faras palt <br />
  xiv: elenor forte / lenli yamine
</p>

<p>
  Lyrics / Music: kozet <br />
  Revision: faras palt <br />
  Voice: Eleanor Forte &amp; Yamine Renri
</p>

<style type="text/css">
  .eleanor,
  .renri,
  .allSingers {
    border-radius: .4em;
  }

  .eleanor {
    background-color: #003b38;
  }

  .renri {
    background-color: #2c002a;
  }

  .allSingers {
    background-color: #140925;
  }
</style>

<table>
  <thead>
    <tr>
      <th style="width:50%">Arka</th>
      <th style="width:50%">English</th>
    </tr>
  </thead>
  <tbody>
    <tr class="eleanor">
      <td class="hacm">non sedo sen tu seta?</td>
      <td>Can I erase this history?</td>
    </tr>
    <tr class="renri">
      <td class="hacm">tu et dia tis eyo?</td>
      <td>Is this just a dream, I wonder?</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">yul tu fengra e vix dan non aaxa kel sen.</td>
      <td>I can never forget this spiderweb of deep wounds.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">myulla, non so sen yuu.</td>
      <td>Sadly, I can do nothing.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">tu et ax xanel eyo?</td>
      <td>Is this correct, I wonder?</td>
    </tr>
    <tr class="renri">
      <td class="hacm">yul flek t'amalis navan non elf vil olta non misk.</td>
      <td>No matter how much I try, I can't escape this persistent wasteland of memories.</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="eleanor">
      <td class="hacm">faal ver maladir sen malz.</td>
      <td>The black sun confuses 10,000 butterflies.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">virtes miyu durne a faar.</td>
      <td>The white moon turns night into morning.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">nalt l'iklat yu im yumel or rig o dask lex xea im tur.</td>
      <td>The castle built long ago is now breaking down to sand.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">pot age enken age.</td>
      <td>Inside a spiral unlike a spiral.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">non ager ins le na yuu lol.</td>
      <td>I spin around the indifferent eyes.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">tu ako han es evi.</td>
      <td>This wide ground is dry.</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">see, pot jan lejemme,</td>
      <td>Then, in the purple sky,</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="allSingers">
      <td class="hacm">silfi et nok yun ixirius</td>
      <td>A flash appears like a mirror</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">le ladat yu diakeian kokko eez diix.</td>
      <td>Made by a dreamchaser with glimmering icicles.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">yunfil, amox alishanoi, re skin mol xelt,</td>
      <td>Sweetly, among the amaranths, sit under the moon,</td>
    </tr>
    <tr class="renri">
      <td class="hacm">lana rig aav minat o lef sen</td>
      <td>To break the brittle chains and be able to run</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">i max navanel.</td>
      <td>Tenaciously from the hole.</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">tet mesepn alvelt despa miiko fir</td>
      <td>But the dim halls seal the white cat</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">mil la ins sen yuu kilvix tuan kaen fledir.</td>
      <td>Because it can see none of your cuts on the palm.</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">leskel, tyu oj esk fulkaaf o niit molen faal,</td>
      <td>You touch the gentle pink rain elegantly under the sun,</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">o luk kokko hasl, yun avom reian. re rant waal.</td>
      <td>And walk with the rhythm like a lone wolf. Listen to the pendulum.</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="eleanor">
      <td class="hacm">non meaxt sen tu seta?</td>
      <td>Can I rewrite this history?</td>
    </tr>
    <tr class="renri">
      <td class="hacm">tu et fiana sete?</td>
      <td>This is reality, right?</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">lamb rik i ra luutes</td>
      <td>Ants leave their home</td>
    </tr>
    <tr class="renri">
      <td class="hacm">apot vortmain e fite.</td>
      <td>Inside a rabbit's corpse.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">see, tyu ins le far imel</td>
      <td>Well, do you see the yellow light</td>
    </tr>
    <tr class="renri">
      <td class="hacm">xi tek sein e firvern?</td>
      <td>Behind the birch leaves?</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">fai vien or gao</td>
      <td>The strong fire is growing</td>
    </tr>
    <tr class="renri">
      <td class="hacm">ka fia le si netfaal.</td>
      <td>In a world with no dawn.</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="eleanor">
      <td class="hacm">kon tak e blenz, le fax fan</td>
      <td>With flame arms that are going to hug</td>
    </tr>
    <tr class="renri">
      <td class="hacm">meltel ento erimfo</td>
      <td>Warmly, that my heart</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">noan mat sat tuuno fim</td>
      <td>Is about to shatter the the brittle earth,</td>
    </tr>
    <tr class="renri">
      <td class="hacm">yul kolo o main vem.</td>
      <td>My scared mind and body.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">yun galf le milm firtel</td>
      <td>Like a galaxy dancing brightly</td>
    </tr>
    <tr class="renri">
      <td class="hacm">kor axea anlfir,</td>
      <td>Toward the ultramarine shore,</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">re et vern, re et vern.</td>
      <td>Burn away, burn away.</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="renri">
      <td class="hacm">non alti las efop.</td>
      <td>I let go of the frozen hand.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">mil tu alem, non na fiks,</td>
      <td>I feel dizzy because of my heart,</td>
    </tr>
    <tr class="renri">
      <td class="hacm">tal fai halen non vatl vil non.</td>
      <td>But the fire above me can't reach me.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">ou xante niit, ren rant tu miks</td>
      <td>O gentle full moon, listen to this song</td>
    </tr>
    <tr class="renri">
      <td class="hacm">le non ar fan fiina tu</td>
      <td>That I'll sing for this</td>
    </tr>
    <tr class="renri">
      <td class="hacm">fia knoos o fiiyu.</td>
      <td>Strange and wonderful world.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">-- ketta,</td>
      <td>— Well,</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="eleanor">
      <td class="hacm">fai halen fai.</td>
      <td>Fire above the fire.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">yul jan soret non ins sen,</td>
      <td>I can see the blue sky,</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">o, vext molen vext.</td>
      <td>And ice under ice.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">ai, xi esp fir o flap.</td>
      <td>At last, under the soft white clouds.</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">ka luat e wal kai</td>
      <td>At the foot of the great mountain</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">le vijon janke kor,</td>
      <td>That the wagtails fly toward,</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">teeze ik sod romel</td>
      <td>The wind has stopped suddenly</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">o teltik le fap.</td>
      <td>And has blown the smoke.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">see, sa le alj</td>
      <td>Then in front of the waxing crescent</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">amoxen</td>
      <td>Next to</td>
    </tr>
    <tr class="renri">
      <td class="hacm">eev dot yunen hird</td>
      <td>The waves, forceful like a shark</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">looz ifixial</td>
      <td>At the edge of the old city</td>
    </tr>
    <tr class="renri">
      <td class="hacm">im took e hartvird</td>
      <td>At the end of the sultry night</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">lena aaxa leev axel lana en laap axel</td>
      <td>We'll never leave each other so we never miss each other</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">var tuus salt sein, non ladia tu.</td>
      <td>For these years, I wish for this.</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="renri">
      <td class="hacm">non ladia tu.</td>
      <td>I wish for this.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">non ladia tu.</td>
      <td>I wish for this.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">non ladia tu.</td>
      <td>I wish for this.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">non ladia tu kokko alem enat.</td>
      <td>I wish for this with my own heart.</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="renri">
      <td class="hacm">cate, caifa.</td>
      <td>The storm, meteor.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">re kea kern vix tuan.</td>
      <td>Fix your broken wings.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">esp minat, esk teom.</td>
      <td>Fleeting clouds, eternal rain.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">le teeze rig vil non.</td>
      <td>The wind can't break me down.</td>
    </tr>
    <tr class="renri">
      <td class="hacm">ka gana alakai</td>
      <td>In this barren land</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">e vaan sid e goma,</td>
      <td>Of the old army of foxes,</td>
    </tr>
    <tr class="renri">
      <td class="hacm">yuu taf sil hacn noan.</td>
      <td>No one will take my friend.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">-- eev sein badand axea e tad.</td>
      <td>— The waves crash against the stone shore.</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">see, mol tu zom le vesel</td>
      <td>Then, under the tree that alone</td>
    </tr>
    <tr class="renri">
      <td class="hacm">xa klik sort o reino</td>
      <td>Stands on this cold, lonely island</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">pot tier xeden fi,</td>
      <td>In the sea without anything,</td>
    </tr>
    <tr class="renri">
      <td class="hacm">ka appel le non ins sen.</td>
      <td>In the border I can see.</td>
    </tr>
    <tr class="allSingers">
      <td class="hacm">ka tu kalte e xivaesk</td>
      <td>In this place of downpours</td>
    </tr>
    <tr class="renri">
      <td class="hacm">non ter vil le fai le miyut velt a faar.</td>
      <td>I can't hear the fire that turned darkness into morning.</td>
    </tr>
    <tr class="eleanor">
      <td class="hacm">non left sen a far varmil e faal xan.</td>
      <td>I can jump to the orange light of the sun.</td>
    </tr>
  </tbody>
</table>