---
title: Avelantis scoring
---

<h1> Scoring for avelantis ~ sokka e fia. </h1>
From my own experience. <br />
<h2> Intro </h2>
<p> An STG in Arka written by Nias Avelantis. A three-stage trial was released, but development stopped in 2013,
  probably for the obvious reason. </p>
<p> <a href="https://www9.atwiki.jp/hrain/pages/81.html">Download link</a> </p>
<h2> Players </h2>
<p> Note: <b>Shiki</b> (<hacm>xiki</hacm>) is the player in pink with a scythe. <b>Yuuki</b> (<hacm>yuuki</hacm>) is the
  one wearing green and using guns. From top to bottom, the shot types are: </p>
<ul>
  <li> ShikiA: A homing shot, with everything that comes from it. You can bombgraze but the bomb does a lot of damage
    after some time so beware. </li>
  <li> ShikiB: Forward focus. You can bombgraze if you place your bomb so that it doesn't clear bullets where you want
    to graze. </li>
  <li> YuukiA: Forward focus. Bomb clears the whole screen so you can't bombgraze. Honestly not recommended for scoring.
  </li>
  <li> YuukiB: Spread shot. You can bombgraze, 'nuff said. I personally use this shot type for scoring. </li>
</ul>
<h2> General </h2>
<ul>
  <li> The digits 0123456789 look like <hacm>0123456789</hacm> in hacm. </li>
  <li> In this game, you'll want to be focusing on gaining <b>yuno</b> (<hacm>yuno</hacm>), which affects point item
    value and spell card bonuses. </li>
  <ul>
    <li> You gain some yuno passively, and you gain yuno faster the higher you are up the screen. You also gain more
      yuno this way if you stand still, as well as if you don't shoot or focus. </li>
    <li> Cancelling bullets gives yuno. </li>
    <li> Grazing also gives yuno. </li>
    <li> Collecting power items at full power gives yuno. </li>
    <li> It seems that you gain yuno faster if you have a barrier active. </li>
  </ul>
  <li> As usual, point items (<hacm>noa</hacm>) give you a lot of points, depending on your yuno as well as the height
    at which you collect them. They are green in this game. </li>
  <li> You can graze a bullet multiple times. This effect is quite noticeable in Lanvem's first and second attacks.
  </li>
  <li> Generally, later spells are worth capturing as fast as you can. </li>
  <li> Easy seems to have the most scoring potential. Yuno gains and spell card bonuses seem to be the same across
    difficulty levels, while some strategies that work on Easy stop working on higher difficulty levels. </li>
  <li> Beware of bombing shortly before a spell card – some bombs can bleed into it and reduce its bonus considerably.
  </li>
</ul>
<h2> Stage 1 </h2>
<ul>
  <li> Before the midboss, focus on collecting as many items as you can and cancelling bullets by killing certain
    enemies. 38,000 yuno is a good target to reach by the time he appears. </li>
  <li> <b>Lanvem</b> (<hacm>lanvem</hacm>) is the Stage 1 midboss. His first two attacks are grazefests. If you're using
    YuukiB, then for each of them, bomb when the timer reaches 3 or 3.5 seconds and sit on where he spews bullets for
    moar graze (total 2 bombs). (On Hard or Lunatic, Lanvem fires a second set of bullets that makes it impossible to
    graze this effectively.) </li>
  <li> For his last attack (<i>on Easy</i>), shoot Lanvem for most of his healthbar. Then go up to the top of the
    screen, preferrably inside the bullet &quot;curtains&quot;, until only a few seconds remain on the timer. Then
    deplete the rest of Lanvem's health. </li>
  <li> There are a few more enemies before the main boss. The number of enemies that spawn doesn't seem to depend on how
    fast you clear Lanvem, at least when you're timing out his first two attacks. On the last wave, try to stay in one
    spot while shooting the enemies. 280,000 yuno is a good target to have right before the boss. </li>
  <li> <b>Gimel</b> (<hacm>gimel</hacm>) is the Stage 1 boss. For his first nonspell, stay near the top of the screen
    while grazing the bullets he spawns and trying not to get hit. </li>
  <li> <b>Dark Sky &quot;Ladder of the Flash&quot;</b> (<hacm>anje &quot;silfi t'alvelt&quot;</hacm>) is Gimel's first
    card. It's worth milking this card for yuno, as the lower bonus from timing this out is compensated by the higher
    yuno later in the game. </li>
  <li> For Gimel's second nonspell, try to stay relatively high on the screen while not getting hit. </li>
  <li> <b>Great Book &quot;Cradle of Perception&quot;</b> (<hacm>klel &quot;waam e nakl&quot;</hacm>) is his second
    card. It might be worth timing this out as well if you know what you're doing, but this is difficult so I don't
    bother doing this. If you just want to clear it as fast as you can, sit right below Gimel while dodging incoming
    bullets. (Spell Practice is your friend, and the fifth option on the title screen.) </li>
</ul>
<h2> Stage 2 </h2>
<ul>
  <li> At the beginning of the stage, kill a few enemies, then bomb to kill more enemies, clear bullets and collect
    items. Then get rid of the barrier and suicide for more bombs. </li>
  <li> Now pinwheel-like enemy formations will come. You can just kill the enemy at the centre and the others in the
    same formation will die. It'll get hectic; when it does, use a bomb. </li>
  <li> <b>Eris Alvanos</b> (<hacm>eris alvanos</hacm>) is the Stage 2 midboss and boss. It's worth using two bombs on
    her midboss nonspell to get some more graze: once near the beginning and once more when there are about 6 seconds
    left on the clock. For the rest of that time, try to graze the rings as well as you can. </li>
  <li> <b>Leeven &quot;Spirit Brook&quot;</b> (<hacm>leeven &quot;reis seles&quot;</hacm>) should be easy to capture.
    Shoot it down as fast as you can. </li>
  <li> Use the rest of your bombs to get more items from the enemies before the boss proper. </li>
  <li> For Eris's boss cards, try to gain as much yuno passively as you can. </li>
  <li> <b>Corona &quot;Small Crown&quot;</b> (<hacm>acmablenz &quot;dail lis&quot;</hacm>) is Eris's first boss spell
    card. Try to shotgun for as long as you can before she shoots bubbles. </li>
  <li> <b>Death &quot;Elfi of Extinguishing&quot;</b> (<hacm>vort &quot;elfi e faix&quot;</hacm>) is her second boss
    spell card. This is straightforward to capture; shoot it down as fast as you can. </li>
  <li> <b>Memorisation &quot;View of the Spirits&quot;</b> (<hacm>mal &quot;atix e seles&quot;</hacm>) is Eris's last
    card. You can predict where she'll move next, so try to plan your route to follow her without getting walled. </li>
</ul>
<h2> Stage 3 </h2>
<ul>
  <li> TBD </li>
</ul>