---
title: Commission shit, I guess
---

<h1> Uruwi is (not) composing (right now)! </h1>
<p> Perhaps I eventually will, but this is not the time. I used to have the below description, though. </p>
<p> And, aside from referring to themselves in third person, willing to do it for you! </p>
<p> I've mostly done piano scores in the past, but with some time and effort I could probably do anything feasible. I
  mean, I'll try. </p>
<p> In addition, I'm accustomed the most to writing in minor keys. </p>
<p> For now, I don't know the best (read: easiest) way for you to pay me, so I won't charge anything. On the other hand,
  I probably won't do anything big for free. </p>
<p> Please refer to the front page to contact me. </p>