---
title: Home
---

<canvas id="ants"> </canvas>
<div class="intro">
  <h1> — astral hideout — </h1>
  <p> Hello! I'm <a href="about.html">+merlan #flirora</a>, and I program things as well as play games
    and create languages. </p>
</div>
<div class="paneholder">
  <div class="pane" id="pane1">
    <div class="pane-content pcleft">
      <div class="pane-title">code</div>
      <a href="options.html"> Set options for this site</a>
      <a href="personal.html"> Personal projects</a>
      <a href="https://gitlab.com/Kyarei"> Everything I have public on GitLab, ever</a>
      <a href="https://github.com/bluebear94?tab=repositories"> Everything I have public on GitHub, ever</a>
    </div>
  </div>
  <div class="pane" id="pane2">
    <div class="pane-content pcright">
      <div class="pane-title">cloŋ</div>
      <a href="langdocs/index.html"> My conlangs</a>
      <a href="orthofail.html"> Read this before you create an orthography</a>
      <a href="langdocs/mp/index.html"> Learn Mođëp'öso</a>
      <a href="arkastuff/index.html"> Stuff about Arka</a>
      <a href="estel/index.html"> My translations</a>
      <a href="geiriau/index.html"> My original songs</a>
      <a href="/langdocs/sedplague.html">Enough with the fake 'conlangs'!</a>
    </div>
  </div>
  <div class="pane" id="pane3">
    <div class="pane-content pcbottom pcleft">
      <div class="pane-title">game</div>
      <a href="sagume.html"> Sagume portal</a>
      <a href="th15st.html"> LoLK strategy guide</a>
      <a href="pbs.html"> My personal score records</a>
      <a href="clicker101/index.html"> Clicker101 – a game</a>
    </div>
  </div>
  <div class="pane" id="pane4">
    <div class="pane-content pcright pcbottom">
      <div class="pane-title">info</div>
      <a href="/about.html"><b>About me</b></a>
      <a href="/changelog.html"><b>Recent changes</b></a>
      <a href="/sitemap.html"><b>Sitemap</b></a>
      <a href="https://gitlab.com/Kyarei">GitLab</a>
      <a href="https://github.com/bluebear94">GitHub</a>
      <a href="https://twitter.com/_Uruwi">Twitter</a>
      <a href="https://www.youtube.com/channel/UCGKwZGiP57GepW6TbNxNzGA">YouTube</a>
      <a href="https://old.reddit.com/user/Fluffy8x/">Reddit</a>
    </div>
  </div>
</div>
<code>foo = foldl $ flip ($)</code><sup><i><a href="foo.html">???</a></i></sup>