---
title: Options
---

<h1> Options for flirora.xyz </h1>
<form name="hacmsetup">
  <input type="checkbox" id="hacmtoggle" onchange="toggleHacm(false)" checked="checked" />
  <label for="hacmtoggle">Use hacm font</label>
  <p class="hacm"> im an ku kon arka, ti in sil tu. </p>
  <input type="checkbox" id="hacmshow" onchange="toggleHacmMenu()" checked="checked" />
  <label for="hacmshow">Show hacm toggler in other pages</label>
  <p> </p>
  <label for="hacmfont"> Font to use for hacm (if you have it installed): </label>
  <input id="hacmfont" type="text" class="hacm" onblur="toggleHacmFont()" onchange="toggleHacmFont()" />
  <p> Set this to something else if that suits your fancy. You can even set this to an anjuren font; heck, it doesn't
    even have to be a hacm font at all! I'm not going to check. </p>
</form>
<form name="animselect">
  <p> Background animation: </p>
  <div>
    <input type="radio" name="animation" id="animAnts" value="ants" checked="checked" />
    <label for="animAnts">Ants</label> <br />
    <input type="radio" name="animation" id="animLightning" value="lightning" />
    <label for="animLightning">Lightning</label> <br />
    <input type="radio" name="animation" id="animStatic" value="static" />
    <label for="animStatic">Static image at </label>
    <input id="imgPath" type="text" onblur="toggleImagePath()" onchange="toggleImagePath()" />
  </div>
</form>
<p>Disclaimer: All of these options require JavaScript to work. The settings are stored locally and are never sent
  anywhere else.</p>