---
title: "OMG: The Most Epic Orthography Fails!!!"
---

<h1> Congratulations, you failed orthography class </h1>
<p> This is a list of the worst orthography fails in conlangs. </p>
<ul>
	<li> &lt;ː&gt; /nĭ˥/ (an old relex I made in 5th grade) </li>
	<li> &lt;ö&gt; /ɑ/ (<a href="http://www.ostracodfiles.com/votgil/main.html">Vötgil</a>) </li>
	<li> &lt;ee oo&gt; /i u/ (Middle Y) </li>
	<li> &lt;c&gt; /r/ (Arka) </li>
	<li> &lt;ƵÄꞖẞĔT&gt; /ʒeɪbsɛt/ (<a
			href="https://www.reddit.com/r/conlangs/comments/6ybsvd/is_it_possible_to_denote_possession_with_prefixes/dmmfh3i/">Mr7000000's
			abomination</a>) </li>
	<li> &lt;2&gt; /ə̃/ (Poliespo) </li>
</ul>
<p> <a href="index.html"> Back to front page </a> </p>