---
title: kozet's STG personal records
---

<h1> kozet's STG personal records </h1>
<p><strong>This list is no longer maintained.</strong></p>
<p> * denotes my personal record in the whole game. The second-to-last column uses the WR for the same game and
	difficulty,
	but does not take into account the player. (Note that the % of WR column is not updated after rows are added.)</p>
<table>
	<tr>
		<td> Game </td>
		<td> Difficulty </td>
		<td> Character </td>
		<td> Score </td>
		<td> % of WR </td>
		<td> Replay </td>
	</tr>
	<tr>
		<td> Embodiment of Scarlet Devil </td>
		<td> Normal </td>
		<td> ReimuB </td>
		<td align="right"> 78,934,490 </td>
		<td align="right"> 22.73% </td>
		<td> <a href="http://score.royalflare.net/th06/replay6/th6_ud1616.rpy"> Replay</a> * </td>
	</tr>
	<tr>
		<td> Perfect Cherry Blossom </td>
		<td> Normal </td>
		<td> SakuyaA </td>
		<td align="right"> 288,703,580 </td>
		<td align="right"> 13.32% </td>
		<td> <a href="http://replays.gensokyo.org/download.php?id=36084"> Replay</a> *</td>
	</tr>
	<tr>
		<td> Imperishable Night </td>
		<td> Normal </td>
		<td> Rm / Yk </td>
		<td align="right"> 936,581,040 </td>
		<td align="right"> 21.23% </td>
		<td> <a href="http://replays.gensokyo.org/download.php?id=35962"> Replay</a> *</td>
	</tr>
	<tr>
		<td> Imperishable Night </td>
		<td> Extra </td>
		<td> Rm / Yk </td>
		<td align="right"> 884,346,350 </td>
		<td align="right"> 28.49% </td>
		<td> <a href="http://replays.gensokyo.org/replays/th08/th8_ud&amp;;07.rpy"> Replay</a></td>
	</tr>
	<tr>
		<td> Mountain of Faith </td>
		<td> Easy </td>
		<td> MarisaB </td>
		<td align="right"> 538,932,790 </td>
		<td align="right"> 33.89% </td>
		<td> <a href="http://replays.gensokyo.org/download.php?id=37057"> Replay</a> * </td>
	</tr>
	<tr>
		<td> Mountain of Faith </td>
		<td> Normal </td>
		<td> MarisaB </td>
		<td align="right"> 402,150,350 </td>
		<td align="right"> 23.41% </td>
		<td> <a href="http://replays.gensokyo.org/download.php?id=37056"> Replay</a></td>
	</tr>
	<tr>
		<td> Subterranean Animism </td>
		<td> Normal </td>
		<td> ReimuA </td>
		<td align="right"> 215,389,180 </td>
		<td align="right"> 17.98% </td>
		<td> <a href="http://replays.gensokyo.org/download.php?id=37253"> Replay</a> *</td>
	</tr>
	<tr>
		<td> Undefined Fantastic Object </td>
		<td> Normal </td>
		<td> SanaeB </td>
		<td align="right"> 131,659,930 </td>
		<td align="right"> 4.46% </td>
		<td> <a href="http://replays.gensokyo.org/replays/th12/th12_ud&amp;;04.rpy"> Replay</a> *</td>
	</tr>
	<tr>
		<td> Double Dealing Character </td>
		<td> Easy </td>
		<td> ReimuA </td>
		<td align="right"> 436,017,050 </td>
		<td align="right"> 39.00% </td>
		<td> <a href="http://score.royalflare.net/th14/replay14/th14_ud0647.rpy"> Replay</a></td>
	</tr>
	<tr>
		<td> Double Dealing Character </td>
		<td> Easy </td>
		<td> MarisaB </td>
		<td align="right"> 501,924,770 </td>
		<td align="right"> 44.89% </td>
		<td> <a href="http://score.royalflare.net/th14/replay14/th14_ud0689.rpy"> Replay</a></td>
	</tr>
	<tr>
		<td> Double Dealing Character </td>
		<td> Easy </td>
		<td> SakuyaB </td>
		<td align="right"> 504,621,140 </td>
		<td align="right"> 45.13% </td>
		<td> <a href="http://score.royalflare.net/th14/replay14/th14_ud0683.rpy"> Replay</a> * </td>
	</tr>
	<tr>
		<td> Double Dealing Character </td>
		<td> Normal </td>
		<td> SakuyaA </td>
		<td align="right"> 368,352,760 </td>
		<td align="right"> 24.41% </td>
		<td> <a href="http://replays.gensokyo.org/download.php?id=36263"> Replay</a></td>
	</tr>
	<tr>
		<td> Double Dealing Character </td>
		<td> Extra </td>
		<td> MarisaB </td>
		<td align="right"> 286,099,650 </td>
		<td align="right"> 24.94% </td>
		<td> <a href="http://replays.gensokyo.org/replays/th13/th13_ud&amp;~01.rpy"> Replay</a> </td>
	</tr>
	<tr>
		<td> Brilliant Pagoda or Haze Castle trial </td>
		<td> Hard </td>
		<td> Y &gt; T &gt; S </td>
		<td align="right"> 61,942,281 </td>
		<td align="right"> 100.00% </td>
		<td> <a href="https://www.youtube.com/watch?v=0d4aqFuSNlw"> Video</a> </td>
	</tr>
	<tr>
		<td> <a href="https://www9.atwiki.jp/hrain/pages/80.html">Avelantis</a> </td>
		<td> Normal </td>
		<td> XikiA </td>
		<td align="right"> 264,369,504 </td>
		<td align="right"> 100.00% </td>
		<td> <a href="https://drive.google.com/file/d/0BzxwCcsVR5c7VXBsV3ZVVzdYRUU/view?usp=sharing"> Replay</a> </td>
	</tr>
	<tr>
		<td> Avelantis </td>
		<td> Easy </td>
		<td> YuukiB </td>
		<td align="right"> 478,665,720 </td>
		<td align="right"> 100.00% </td>
		<td> <a href="https://drive.google.com/file/d/1KH9NhYiraSiwxS1RhI65kvVKv2tLry9K/view"> Replay</a> </td>
	</tr>
</table>