---
title: Sagume Portal
---

<h1> もっと可愛い稀神サグメちゃん </h1>
<b> Note: </b> I take no credit for these images.
<ul>
	<li> <a href="http://en.touhouwiki.net/wiki/Sagume_Kishin"> Touhou Wiki entry </a> </li>
	<li> <a href="https://danbooru.donmai.us/posts?utf8=%E2%9C%93&amp;tags=kishin_sagume"> Danbooru</a> (less extensive)
	</li>
	<li> <a
			href="http://www.pixiv.net/search.php?word=%E7%A8%80%E7%A5%9E%E3%82%B5%E3%82%B0%E3%83%A1&amp;s_mode=s_tag_full&amp;order=date_d">
			Pixiv</a> (more extensive) </li>
</ul>
<h2> Rationale </h2>
Because Sagume is cute, but deadly. If she says you're not fucked, then you're definitely fucked. If she says that 1 + 1
= 2, then all logic is thrown away. <br />
Plus, she's the only well-designed character after Stage 3.
<h2> Notable images </h2>
<ul>
	<li> <a href="http://ciryes.tumblr.com/post/126785015240"> Why Clownpiece is hard </a> </li>
	<li> <a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=52026568"> Sagume picking her nose </a>
	</li>
</ul>
<h2> How to contribute </h2>
Please PM Uruwi at MoTK or create an issue at <a
	href="https://gitlab.com/Kyarei/kyarei.gitlab.io/issues">Kyarei/kyarei.gitlab.io</a>.