---
title: My Wizard101 dabblings
---

<h1> Some ways to get around the filters </h1>
<b> Disclaimer: do this at your own risk. </b>
<h2> Common substitutions </h2>
The following are all white in chat.
<ul>
  <li>
    <cursing>fuck</cursing> = foe awk, ffa k
  </li>
  <li>
    <cursing>shit</cursing> = shy :t
  </li>
  <li>
    <cursing>dick</cursing> = die k
  </li>
  <li>
    <cursing>arse</cursing> = parse
  </li>
  <li>
    <cursing>cock</cursing> = clock
  </li>
  <li>
    <cursing>tits</cursing> = :t its
  </li>
  <li>
    <cursing>hell</cursing> = heal
  </li>
  <li>
    <cursing>damn</cursing> = :d am
  </li>
</ul>
<h2> Stuck? Use a different language! </h2>
(WIP)
<ul>
  <li>
    <cursing>shit</cursing> = <s>kuso</s> (added to redlist some time ago)
  </li>
  <li>
    <cursing>fuck</cursing> = vittu
  </li>
</ul>