---
title: LoLK strategy
---

<h1> Strategy for 東方紺珠伝　～ Legacy of Lunatic Kingdom </h1>
<a href="https://www.reddit.com/r/touhou/comments/3h4x0e/touhou_15_legacy_of_lunatic_kingdom/"> Compiled from this
	Reddit post.</a> <br />
<a href="https://www.reddit.com/r/touhou/comments/3h4x0e/touhou_15_legacy_of_lunatic_kingdom/cu4gt6n"> Also check this
	comprehensive comment by /u/S4NDW1CHHH.</a>
<h2> Players </h2>
<ul>
	<li> Sanae is top tier. She can graze during bombs, and has homing shots when focused. Most of this guide is written
		with Sanae in mind. </li>
	<li> Reimu, with her homing amulets and small hitbox, is a decent choice too. Possible but difficult to bomb graze.
	</li>
	<li> Reisen's three-layered bomb may be useful, but it's quite finnicky. Recommended for experts. </li>
	<li> Marisa is shit tier. </li>
</ul>
<h2> General </h2>
<ul>
	<li> Unlike earlier games, LoLK gives you more graze points for prolonged grazing. Take advantage of this in the
		early stages. </li>
	<li> Graze items can carry over to the next chapter if you wait before collecting them. Potentially useful for
		reaching enough graze for certain early-stage chapters. </li>
	<li> Try to get a bonus of at least 1 million points on as many chapters as you can, as you will obtain resources
		that way. That's 200 graze if you shoot down every enemy. More than 1 million is unnecessary unless you are
		playing for score. </li>
	<li> In Legacy Mode in the main game, it is always worth bombing and getting the chapter's life piece than not
		bombing and not getting the piece. </li>
	<li> Don't piss away your bombs on Pointdevice. They are rare and should be used when you have absolutely no chance
		of dodging an attack. </li>
</ul>
<h2> Stage 1 </h2>
<ul>
	<li> <i> (Source: /u/Yatsuzume) </i> <a href="http://a.pomf.cat/nnbeoc.mp4"> This strat</a> seems to be used by many
		Lunatic plays. I wonder if it might work for lower difficulties. </li>
	<li> <i> (Source: /u/Yatsuzume) </i> <a href="http://a.pomf.cat/zmizjg.mp4"> This technique</a> for Seiran's second
		nonspell. I personally never use it because I'm a normal modo and I find it quite hard to pull off, but this is
		quite useful in higher difficulties. </li>
</ul>
<h2> Stage 2 </h2>
<h2> Stage 3 </h2>
<ul>
	<li> Start at the top for Doremy's midboss and first cards. </li>
	<li> Doremy's second card has a spiraling gimmick. </li>
</ul>
<h2> Stage 4 </h2>
<ul>
	<li> At the beginning (at least on Normal), try to kill all but one yin-yang orb (or if you're daring enough, keep
		some of them for extra graze). This won't earn enough graze for a fragment, but it's a good scoring tactic. </li>
	<li> On the second chapter, you can run to each orb as it shoots its lasers, then back for easier dodging of the
		other's. Alternatively, take advantage of the fact that the lasers are aimed at you (unsure if last wave is
		aimed). </li>
	<li> Try not to bomb when enemies shoot orange orbs aimed at you. Midboss Sagume comes right after and if you bomb
		you may deplete her HP before being able to graze. </li>
	<li> <i> (Source: <a href="https://youtu.be/R-UH08T4qwc"> Jaimers perfect stage 4</a>) </i> If you play as Sanae,
		midboss Sagume is easier if you shoot unfocused. Remember to get 200 graze. </li>
	<li> As long as there are only single laser circle yin-yangs, get right under them. Once they turn into doubles or
		triples, bomb for graze. </li>
	<li> <i> (Source: Jaimers perfect stage 4) </i> Alternatively, take advantage of the fact that these yin-yangs
		always aim for you. However, on Normal this does not yield at least 200 graze. </li>
	<li> It is possible to get 200 graze in the last chapter before Sagume if you graze hard enough. </li>
	<li> Bomb all of Sagume's nonspells (well, if you're Sanae). They have low HP and you can get life pieces by
		grazing. </li>
	<li> Sagume's first spell involves a combination of streaming and dashing. Stream most of the amulets, and to dodge
		the last few, just dash the rest of the way. </li>
	<li> Sagume's second spell is a freebie. Just circle around the familiars while grazing the shots produced. </li>
	<li> <i> (Source: <a href="https://a.pomf.cat/hpecxu.mp4"> /u/Yatsuzume</a>) </i> Her third spell has a safespot
		inside her HP ring. You can alternatively linger right below her. </li>
	<li> <i> (Source: <a href="https://a.pomf.cat/ocromg.mp4"> /u/Yatsuzume</a>) </i> Sagume's last spell is easier if
		you stay right under her. </li>
</ul>
<h2> Stage 5 </h2>
<ul>
	<li> At the beginning, if you play as Sanae, sit at the top-right corner, right above the POC. You should get 250
		power and 250 point items at full value. </li>
	<li> Try to stay close to the blue laser formations right before the midboss. Stream the red stars vertically. </li>
	<li> Memorize the spawn points of the four enemies right after the midboss. <i>(At least on Lunatic, the stars are
			aimed, so you can stream it. Source: /u/Yatsuzume)</i> </li>
	<li> You can bombgraze the green and yellow stars right before Clownpiece proper if you get stuck. </li>
	<li> If you're playing on Legacy, remember to bombspam the boss. Being sniped by a red laser with 3 bombs in stock
		is not a good feeling. </li>
	<li> When the moon blocks the fireballs of the first spell, follow behind it as far left as you can go. </li>
	<li> The second spell is laser spam. Bomb, and if you're Sanae, try grazing the blue stars. </li>
	<li> The third spell has rings of fireballs that slow down when grazed. </li>
	<li> The fourth is also laser spam. </li>
	<li> <i> (Source: /u/Yatsuzume) </i> <a href="https://a.pomf.cat/zadais.mp4"> This technique</a> for Clownpiece's
		fourth spell.</li>
</ul>
<h2> Stage 6 </h2>
<ul>
	<li> Don't even bother with the spirits with pink suicide bullets. You won't even get enough graze for a fragment.
		<i> (Edit: <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=500801313"> /u/Yatsuzume </a> confirmed
			that getting a fragment is possible on Lunatic.) </i> </li>
	<li> Be vigilant on Junko's second card (cheapshots). Try to direct the aimed spawner bullets to the bottom edge.
	</li>
	<li> Quoting from <a
			href="https://www.reddit.com/r/touhou/comments/3h4x0e/touhou_15_legacy_of_lunatic_kingdom/cu4cz0u">
			/u/Kaze_Senshi</a>: &quot;On normal in Junko's timeout spellcard, when the circle of bullets appear in your
		surrondings, leave from it between the bullets but stay close from the circle. When the bullets change their
		direction, start to graze these bullets in a circular movement until the next circle appear. Repeat until you
		capture it.&quot;</li>
</ul>