/* LOOK AWAY FUCCBOI */

@font-face {
	font-family: "kardinal";
	src: url("/fonts/kardinal.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Pecita";
	src: url("/fonts/Pecita.otf") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
	font-display: swap;
}

* {
	/*
		Provide a fallback for Windows, so those unfortunate enough to
		not have Gentium installed won't get the bad big eng.
	*/
	font-family: "Inter", "VL PGothic", "Meiryo", sans-serif;
	font-feature-settings: "cv43" 2, "Engs" 2;
}

html {
	height: 100%;
}

body {
	background-color: #140529;
	color: #e8ecf8;
	width: 100%;
	height: 100%;
	margin: auto;
	line-height: 1.25;
	font-size: 105%;
	display: table;
	hyphens: auto;
	overflow-wrap: break-word;
}

table.phonology {
	font-size: 75%;
	width: 100%;
}

a {
	color: #12c9f7;
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: #96e9e5;
}

a:hover {
	color: #d364ff;
}

a[href^="http"]:not([href^='http://kyarei.gitlab.io']):not([href^='https://kyarei.gitlab.io']):not([href^='http://flirora.xyz']):not([href^='https://flirora.xyz']):after {
	content: " ↗";
	vertical-align: 30%;
	font-size: 70%;
}

a.back {
	line-height: 3.0;
}

/* Nasty hack to prevent *emphasized* text in headings from falling back to the body font. */

h1 {
	font-family: "Pecita", "VL PGothic", sans-serif;
	color: #9deeee;
	font-size: 240%;
}

h2 {
	font-family: "Inter", "VL PGothic", sans-serif;
	color: #9deeee;
	font-size: 160%;
}

h3 {
	font-family: "Inter", "VL PGothic", sans-serif;
	color: #9deeee;
	font-size: 120%;
}

h4 {
	font-family: "Inter", "VL PGothic", sans-serif;
	color: #e6cbff;
	font-size: 100%;
}

h1 em {
	font-family: "Pecita", "VL PGothic", sans-serif;
}

h2 em, h3 em, h4 em {
	font-family: "Inter", "VL PGothic", sans-serif;
}

pre, code {
	font-family: "Fira Code", "Consolas", monospace;
	color: #acffb3;
	font-size: 100%;
	hyphens: none;
	overflow-wrap: break-word;
}

pre {
	white-space: pre-wrap;
}

cursing {
	font-family: "Liberation Mono", "DejaVu Sans Mono", monospace;
	color: #ffa995;
}

li {
	padding-top: 0.4em;
	padding-bottom: 0.3em;
}

hacm>*, .hacm>*, hacm, .hacm {
	font-family: "kardinal", sans-serif;
}

sc, .smallcaps {
	font-variant: small-caps;
	font-family: inherit;
}

.hacmtoggle {
	position: sticky;
	width: 100% 800px;
	top: 10px;
	padding: 20px;
	border-radius: 15px;
	background: rgba(34, 68, 68, 0.5);
	z-index: 1;
}

#container {
	height: 100%;
	justify-content: space-between;
}

#main {
	background-color: #030920;
	padding: 30px 5%;
	max-width: 800px;
	position: relative;
	margin: 0 auto;
}

#title {
	background-color: #030920;
	padding: 30px 5%;
	max-width: 800px;
	position: relative;
	margin: 0 auto;
}

div.titletext {
	text-align: center;
}

a.titletext {
	font-family: "Pecita", "VL PGothic", sans-serif;
	color: #befdea;
	font-size: 380%;
	text-decoration: none;
}

.subtitletext {
	font-family: "Inter", "VL PGothic", "Meiryo", sans-serif;
	color: #eeb7ff;
	text-align: center;
	font-style: italic;
}

.form, form {
	background: #240024;
	padding: 10px;
	margin: -10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

@media screen and (min-width: 1200px) {
	.hacmtoggle {
		position: fixed;
		top: 20px;
		left: 20px;
		padding: 25px;
		border-radius: 20px;
		width: auto;
	}
}

.short {
	display: none;
}

@media screen and (orientation: landscape) and (max-width: 1199px) and (max-height: 600px) {
	.short {
		display: contents;
	}
	.tall {
		display: none;
	}
	.hacmtoggle {
		position: fixed;
		top: 20px;
		left: 20px;
		padding: 15px;
		border-radius: 10px;
	}
}

@media print {
	body {
		background-color: #ffffff;
		color: #000000;
		border-left-style: none;
		border-right-style: none;
		padding: 0px;
	}
	.hacmtoggle {
		display: none;
		height: 0px;
		padding: 0px;
	}
	#sidebar {
		display: none;
	}
}

.glossSein {
	border-radius: 15px;
	background: rgb(19, 0, 27);
}

.sentence {
	padding: .9em;
}

.sentence .one {
	font-style: italic;
}

.sentence .two {
	/* TBD */
	margin-left: 0 !important;
}

.word {
	padding: .2em .5em;
	margin-top: .5em;
	margin-bottom: .5em;
	display: inline-block;
}

.freetext-before {
	font-weight: bold;
}

.freetext-after {
	font-style: italic;
}

td {
	vertical-align: top;
	padding: none;
}

tbody :nth-child(1) td {
	border-top: 1px solid #4aff4a;
}

tbody :nth-child(2n) td {
	background-color: #011b2c;
}

tbody :nth-child(2n+1) td {
	background-color: #1f0119;
}

.colsc4 {
	background-color: #002915 !important;
}

.colsc3 {
	background-color: #1f2b01 !important;
}

.colsc2 {
	background-color: #272001 !important;
}

.colsc1 {
	background-color: #3b010a !important;
}

#sidebar h2 {
	font-family: "VL PGothic", "Meiryo", sans-serif;
	text-transform: lowercase;
	font-size: 20px;
	color: #325c0b;
	letter-spacing: 3px;
	line-height: 18px;
}

#sidebar ul {
	list-style-type: none;
	margin: 20px 0;
}

#sidebar li {
	font-size: 16px;
	line-height: 16px;
}

.idtag {
	font-size: 50%;
}

#friends {
	font-style: italic;
	overflow-wrap: break-word;
	width: 100%;
	display: table-caption;
	text-align: right;
	padding-bottom: 50px;
}

aside {
	width: 40%;
	left: 100%;
	position: absolute;
	box-sizing: border-box;
	padding-left: .5rem;
	margin-left: .5rem;
	padding-top: -3em;
	float: right;
	box-shadow: inset 5px 0 5px -5px #ba79ce;
	color: #afffd3;
	display: none;
}

div.sidenote-marker {
	display: inline;
}

ol>li::marker {
	color: #e5f7d0;
	font-style: italic;
	font-weight: 300;
}

ul>li::marker {
	color: #9f97e4;
}

:lang(ja) {
	font-style: normal !important;
}

@media screen and (min-width: 1700px) {
	.footnotes {
		display: none;
	}
	aside {
		display: block;
	}
	#markdown-toc {
		position: fixed;
		left: 0%;
		top: 8em;
		width: 18%;
		max-height: 80%;
		overflow: auto;
		font-size: 85%;
		line-height: 1.15;
	}
}

/* Stuff for syntax highlighting */

.bp {
	font-family: inherit;
	color: #fad6ce;
}

.c1 {
	font-family: "Inter", "VL PGothic", "Meiryo", sans-serif;
	color: #c9b9ce;
	font-style: italic;
}

.cm {
	font-family: "Inter", "VL PGothic", "Meiryo", sans-serif;
	color: #d2bdd8;
	font-style: italic;
}

.cp {
	font-family: inherit;
	color: #ee8dde;
}

.err {
	font-family: inherit;
	color: #ff5d5d;
}

.k {
	font-family: inherit;
	color: #52f760;
	font-weight: bold;
}

.kc {
	font-family: inherit;
	color: #f75ed6;
	font-weight: bold;
}

.kd {
	font-family: inherit;
	color: #7df360;
	font-weight: bold;
}

.kn {
	font-family: inherit;
	color: #52f7f7;
	font-weight: bold;
}

.kp {
	font-family: inherit;
	color: #60f38c;
	font-weight: bold;
}

.kr {
	font-family: inherit;
	color: #52f760;
	font-weight: bold;
}

.kt {
	font-family: inherit;
	color: #faffaf;
}

.m {
	font-family: inherit;
	color: #f75ed6;
	font-weight: bold;
}

.mf {
	font-family: inherit;
	color: #f75ed6;
	font-weight: bold;
}

.mh {
	font-family: inherit;
	color: #f75ed6;
	font-weight: bold;
}

.mi {
	font-family: inherit;
	color: #f75ed6;
	font-weight: bold;
}

.n {
	font-family: inherit;
	color: #fad6ce;
}

.na {
	font-family: inherit;
	color: #fab9aa;
	font-weight: bold;
}

.nb {
	font-family: inherit;
	color: #baff6b;
	font-weight: bold;
}

.nc {
	font-family: inherit;
	color: #eef593;
}

.nd {
	font-family: inherit;
	color: #ff3874;
	font-weight: bold;
}

.nf {
	font-family: inherit;
	color: #6fd5ee;
}

.nl {
	font-family: inherit;
	color: #add87b;
	font-style: italic;
}

.nn {
	font-family: inherit;
	color: #ad9bf0;
	font-style: italic;
}

.no {
	font-family: inherit;
	color: #ffba5f;
}

.nv {
	font-family: inherit;
	color: #cabcff;
}

.o {
	font-family: inherit;
	color: #ffba5f;
}

.ow {
	font-family: inherit;
	color: #ffba5f;
}

.p {
	font-family: inherit;
	color: #e6cbff;
}

.py {
	font-family: inherit;
	color: #6fd5ee;
	font-style: italic;
}

.s {
	font-family: inherit;
	color: #5ef7d1;
}

.s1 {
	font-family: inherit;
	color: #5ef7d1;
}

.s2 {
	font-family: inherit;
	color: #5ef7d1;
}

.sc {
	font-family: inherit;
	color: #5ef7d1;
}

.se {
	font-family: inherit;
	color: #5ec7f7;
	font-weight: bold;
}

.si {
	font-family: inherit;
	color: #f475f8;
	font-weight: bold;
}

.sr {
	font-family: inherit;
	color: #c4b4ff;
}

.ss {
	font-family: inherit;
	color: #5ef7d1;
}

.sx {
	font-family: inherit;
	color: #5ef7d1;
}