---
title: My Wizard101 dabblings
---

<h1> My Wizard101 dabblings </h1>
<p align="center">
  <cursing><i>Note: I am permanently retiring from Wizard101 because its exploitative monetization. If anyone knows of a
      game like Wizard101 that isn't P2W, then let me know.</i></cursing>
</p>
<h2> My Wizards </h2>
<table>
  <tr>
    <td> Name </td>
    <td> School </td>
    <td> Level </td>
    <td> Rank (3rd age) </td>
  </tr>
  <tr>
    <td> Samantha CrowCaller </td>
    <td> Life </td>
    <td> 120 </td>
    <td> 708 </td>
  </tr>
  <tr>
    <td> Cheryl FrogBane </td>
    <td> Ice </td>
    <td> 100 </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Nicole GreenRiver </td>
    <td> Storm </td>
    <td> 44 </td>
    <td> — </td>
  </tr>
</table>
<h2> History </h2>
<ul>
  <li> 2009? – started playing with my brother, Fluxuated (although he hadn't adopted that name yet). </li>
  <li> 2010? – started dumping lots of money on Crowns, most of which were wasted on henchmen and Earthwalker pets </li>
  <li> 2011 – stopped because Ghost Avalon was too hard for poor Andrew DragonThief the sorceror </li>
  <li> June 14, 2016 – <a href="https://youtu.be/Fhv1oMnhbuQ">&quot;2016/06/14&quot;</a> (Japanese warning!) foreshadows
    the second coming </li>
  <li> Later that day – Samantha CrowCaller the Theurgist is born! Unfortunately, there was a password leak, but the
    offending areas should be blurred now. <a href="https://youtu.be/mB-JqBZQFJU">Watch at my risk.</a> </li>
  <li> June 15, 2016 – I shell out <a href="https://exchangerate.guru/usd/jpy/60/">$60</a> for an annual subscription.
  </li>
  <li> June 20, 2016 – A historically long <a href="https://www.youtu,be/YuUQ2TQcxys">eight-hour video</a> is released.
  </li>
  <li> Cirno Day, 2016 – Cheryl FrogBane the Thaumaturge is born! </li>
  <li> October 9, 2016 – My luck finally recovers and <a href="https://youtu.be/a0zmbdhOmtk">I get a hat from Malistaire
      the Undying</a>. </li>
  <li> December 26, 2016 – Nicole GreenRiver the Diviner <a href="https://youtu.be/2tbckjgW_QI">is born</a>! </li>
  <li> January 5, 2017 – Fluxuated briefly returns. </li>
  <li> January 6, 2017 – Fluxuated forgets about Wizard101. </li>
  <li> June 2, 2017 – <s>temporary</s> permanent retirement. Fuck this P2W &quot;fAmIlY fRiEnDlY&quot; game, fuck KI,
    fuck the people who ruin PvP.
    And most of all, fuck the fact that this shit game doesn't even run on Linux.
  </li>
</ul>
<h2> My guides </h2>
<ul>
  <li> <a href="https://docs.google.com/document/d/1usgKjhrDf2lo5BeoR_KIWrk7XCliSzLMPWePeafGlAA/edit?usp=sharing">
      General tips and tricks </a> </li>
  <li> <a href="https://docs.google.com/document/d/16H9j_iED1OrIoZimWunix3jDo7g90NKuOpI3wlSOeqo/edit?usp=sharing">
      Spells to learn </a> </li>
</ul>
<h2> Spooning with the chat filters </h2>
<h3> Innocent sentences that get caught (red-handed?) </h3>
<cursing>
  <ul>
    <li> Baal licked 69 beer-soaked grapes. </li>
    <li> Beowulf @ Sussex: unwithholdingly get in slick unknightly bazaars </li>
    <li> Hii, (I)'m su-ckoncussed thaat (I) cccan't paass Wizzard101's chhat fhilters. </li>
  </ul>
</cursing>
<h3> Some ways to get around the filters </h3>
Moved to <a href="sailors.html">a different page.</a>