---
title: Toluthin Antenna
---

<h1> Translations of Toluthin Antenna </h1>

<p> <a href="https://youtu.be/Juo5_qaJgXc">Original (with English subs)</a> </p>
<p> Thanks to <a href="https://dic.nicovideo.jp/v/sm18972745">this page</a> for less confusing Japanese lyrics. </p>

<h2> Arka </h2>

<p> Thanks to Faras Palt for corrections. </p>

<div class="hacm">
  <p>
    rens: <code>△◯□×</code> <br />
    kelk: serfan xakn <br />
    diaf: serfan giga <br />
    estel: kozet / faras palt
  </p>

  <p>
    an at dakt a varma kalel im xe sel <br />
    see an en arat rafel ant kelanel! <br />
    im lemel an em sen vaim sei? <br />
    ag, an daktat osn a xeta! <br /><br />

    an lapxat lisel yan an at niks im an tatte <br />
    hasl t'alou l'es alxtam; im fis an elk sil wel gekhork sei? <br /><br />

    ol ti sek an, an halp sil ti a kuni e hatia <br />
    man an randi ti olta an avoland insrein kor dipit <br />
    im an magat bix t'uni, lu kut tu al an lex lu arat memok <br />
    xivel l'an latat a sama ant haut yan emat esi
  </p>

  <p>
    alxafnavinses yu sol tiiarens <br />
    ag, agep elfes i yukka xa! <br /><br />

    firbia alkokka an, son an tren van ti ol ti kuki omi dec <br />
    gaabe e lozl et hemtlemi. ak sabinsini sil femesam im kest sei? <br /><br />

    ren okt al an il nekt t'ins dix yunen liifa kaen siel e xelm <br />
    olta an nox vemo myulukanel, len yuu sil miyu kok? <br />
    an sedo luwaakl ahalvanzanel, yan an okt van xi 1/2/3 <br />
    omona l'at tav a vispa ik sedo xi an sinsat asex
  </p>

  <p>
    u, e, o, i, al an, ren kor ins o rant <br />
    rens l'an ku van! <br /><br />

    man, olta siina az sin an, an mix van <br /><br />

    TULTASKAMIIA WILPEROTIINO an kui lax tanx ok ti, txo txo txo <br />
    tu et xisk olta an zir, <br />
    son kui xiit teejtanx im tu durne
  </p>
</div>

<div class="glossSein" id="arka-gloss">
  <%= make_gloss(@items["/estel/raw-texts/antenna-arka-gloss.txt"],
    { script: 'hacm' }) %>
</div>