---
title: Miscellaneous Arka translations
---

<h1> Miscellaneous Arka translations </h1>

<h2>
  <hacm>5 fei e sel tiil</hacm>
</h2>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/76avpa/731st_just_used_5_minutes_of_your_day/doe2e81/">731.</a>
      xalet ket vaknat yu lamel man kuit kamt.</hacm>
  </p>
  <p>731. Cats were probably first kept because they ate mice.</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/78unyy/738th_just_used_5_minutes_of_your_day/dowwf89/">738.</a>
      gi felte et hoan a saf t'ez, tal en lut tot.</hacm>
  </p>
  <p>738. Most metals are solid at room temperature, but this does not have to be the case.</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/799gzy/739th_just_used_5_minutes_of_your_day/dp11eev/">739.</a>
      fai et tan lami tin. tu fai o miyu sen ra o zom o alt al dofl.</hacm>
  </p>
  <p>
    <hacm>ivl: fai et tan lami tin. tu fai o miyu sen ra o zom <b>ont</b> alt <b>a</b> dofl.</hacm>
  </p>
  <p>739. Fire is also very dangerous, it can cause houses, trees and many other things to burn into ashes.</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/79ephw/340th_just_used_5_minutes_of_your_day/dp1pn59/">740.</a>
      yuli nod mav et lif.</hacm>
  </p>
  <p>740. the child is younger than the man</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/7a9tau/742nd_just_used_5_minutes_of_your_day/dp8j777/">742.</a>
      an kuit lax sorxexilk, tal an kuit vil.</hacm>
  </p>
  <p>742. I wanted to eat a dumpling, but couldn't.</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/7aourf/743rd_just_used_5_minutes_of_your_day/dpc8viy/">743.</a>
      vet et voj yan an garv mil hovo na. - ucui, on axt kon nrahiren.</hacm>
  </p>
  <p>743. It's as if words were shit and I had constipation. —uruwi, on writing in Ḋraħyl Rase</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/7bcokq/745th_just_used_5_minutes_of_your_day/dphbf82/">745.</a>
      reiyu lukorat ok oma luut var kalto a durne.</hacm>
  </p>
  <p>
    <hacm>ivl: reiyu <b>lukatand</b> ok oma luut var kalto <b>im</b> durne.</hacm>
  </p>
  <p>745. The girl used to walk with her dog through the forest at night.</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/7oqxhp/780th_just_used_5_minutes_of_your_day/dscdync/">780.</a>
      belom e keelgesl e firwal ... et lad kon owiyek o bakyek o muogesl o raeane.</hacm>
  </p>
  <p>780. This recipe for Slovenian stuffed cabbage…is made with pork and beef, rice, sauerkraut and tomato juice.</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/7zccmf/806th_just_used_5_minutes_of_your_day/duogzzm/">806.</a>
      filolz eekat pile a kaiteks luut</hacm>
  </p>
  <p>806. pecan poured coffee into his mug</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/842z00/817th_just_used_5_minutes_of_your_day/dvoe1if/">817.</a>
      erei em axea ka to xaka?</hacm>
  </p>
  <p>817. at what point does river become coast</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/8ah6pk/831st_just_used_5_minutes_of_your_day/dwytv8l/">831.</a>
      an setat lolo tal lu en vortat.</hacm>
  </p>
  <p>831. I killed the snake but it didn’t die</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/8anwd7/832nd_just_used_5_minutes_of_your_day/dx0porf/">832.</a>
      xaxan varsat lanko et novel.</hacm>
  </p>
  <p>832. The teacher made the boys be silent.</p>
</div>

<div class="5min">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/8g5t7s/845th_just_used_5_minutes_of_your_day/dy974up/">845.</a>
      ist, an feit a slakeldyulfan o vezleiaxtan: ren sols eld sake ti.</hacm>
  </p>
  <p>845. Instead, my advice to the field linguist and grammar writer is: Let the language itself be your guide.</p>
</div>

<h2> Quote from <i>Julius Caesar</i> (the play) </h2>

<div class="misce">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/81t65a/julius_caesar_quote_translation_challenge/dva6hy4/">venam</a>
      vort daks asa vort luutes.</hacm>
  </p>
  <p>cowards die many times before their death</p>
</div>

<h2> Wikipedia on sine waves </h2>

<div class="misce">
  <p>
    <hacm><a
        href="https://www.reddit.com/r/conlangs/comments/7oltzg/first_two_sentences_9_wikipediasine_wave/dsaklke/">kilzoleev</a>
      et kimrein t'alf le konel mag dix ont olte. kilzoleev et eev onk.</hacm>
  </p>
  <p>A sine wave or sinusoid is a mathematical curve that describes a smooth repetitive oscillation. A sine wave is a
    continuous wave.</p>
</div>