---
title: Book of Arka
---

<h1> Book of Arka </h1>
<p> <i>Translated from the <a href="http://conlinguistics.org/blog/?p=689">original Japanese.</a></i> </p>
<p> The following was transcribed from a letter from Seren Arbazard, with errors corrected and formatting improved. </p>
<p> I take no responsibility for this work. (na2co3) </p>
<p> <i>I don't either. By the way, thanks to Salp for some help. (kozet)</i> </p>

<h2> Thursday 1 March 2018, &quot;Book of Arka&quot; </h2>

<p> My name is Shimon Sadakari. In Arka, I am Seren Arbazard. </p>
<p> I am a male, born on 4 February 1981 in Nerima-ku, Tokyo, and raised in Tokorozawa, Saitama. Now I am writing this
  in prison. </p>
<p> I am the creater of Arka. My love, Ridia; her mother, the teacher Liiza; her protegee, Mel; and others founded the
  group called Arxe; while it was said that I created Arka with them, that was all a lie. Arxe's rival group, Sorn; its
  leader, Kmiir; the merger organisation of Arxe and Sorn, Axet – they were all fictional as well. </p>
<p> The children whom Ridia and I conceived: our daughter, Luxia, and a (twin) son Yult – they were all fictional. </p>
<p> None of them existed in reality, but I considered them to really exist inside my head; I called them a falsehood,
  but in short, they were fictional beings. The trolls from 2ch were completely right about pointing out that fact. </p>
<p> My mother, my younger brother, my ex-wife and others on the Internet kept claiming that Ridia and the others were
  real. However, her mother was from Estonia and her father was from Kazakhstan; she was born in Estonia, moved to
  Finland when she was one, and moved to Japan at the age of six. When she was seven, we me each other and started Arka.
  It wasn't that the beautiful foreign girl with whom I fell in love during second year of middle school conveniently
  existed, not to mention that after divorcing my ex-wife, Ridia and I had twins and we decided to forget about the
  ex-wife. It's not as if my ex-wife and I were considering a forced double suicide or something. </p>
<hr />
<p> No matter how Ridia and others were created, in short, my ideals were high; moreover, they became that high. Even
  about things other than Arka, I told many lies in order to be pretentious. </p>
<p> From the age of 14 (3rd year of middle school) to 25, my appearance more or less improved, and thus during the third
  year of middle school and the second, third and fourth years of university, I was talked to quite a bit by girls who
  considered me handsome. However, although I wanted a girlfriend, I was shy, and I didn't know how to get in touch;
  then I behaved in a cool manner, and then a girl I encountered coldly told me, &quot;Don't come!&quot; and such, so
  all of the girls left me and I didn't manage to make any girlfriends in middle school. </p>
<p id="retfootnote1"> Strictly speaking, during the autumn of M1 <a href="#footnote1">[1]</a>, I confessed my love for
  the first time in my life to someone whom I'll call O-san, who was different from the rest of the class. But when they
  asked, &quot;What do you like about me?&quot;, I answered, &quot;Because you're cute&quot;, and thus they got mad and
  turned me down. </p>
<p> Even though I am 172&nbsp;cm tall, I was small during my childhood, and thus, if I answered &quot;because you're
  cool&quot; to O-san, who was bigger than I, then we would have gone steady, but I realised that calling them cute was
  foolish and they rejected me. </p>
<p> I attended a boys-only high school so I didn't have any relationships with girls there, and I didn't go out until
  anyone until I met X (my future wife) during U4. In other words, this X was my first girlfriend, and I was X's first
  boyfriend. </p>
<p> Since we had no experience falling in love, X and I didn't know how to break up with each other, and X unilaterally
  deserted me, earning my grudge. Having been abandoned by my first love, I felt a lingering attachment, and as the
  breakup turned complicated, we made a quandary of a divorce going as far as a domestic violence trial. </p>
<p> If it's possible for me to get a girl after X, the future could change, but my popularity sank among the girls, and
  I didn't make any girlfriends after that incident. </p>
<p> During U4 (2003, as I've failed the entrance exams the first time), I was on good terms with X, and I also got along
  with Y, a 19-year-old female university student who was a coworker at my last job. One month after going out with X, I
  confessed to Y. This was the first and last time in my life that I was getting along with women. </p>
<p> Y too was unfamiliar with men. I gave up, saying, &quot;You have X, too&quot;, but she told me in autumn that she
  wasn't giving up yet, no matter how many times she was turned down; after she said, &quot;Break up with X and go out
  with me&quot;, I finally broke up with X and got on with Y. </p>
<p> That is, those three are the only ones I've proposed to in my life, and because one of them turned me down, I only
  pursued two others. Having only two girlfriends puts one at a quite unpopular tier among the boys, and many others
  seem to have gained sexual experience, so not being wanted to be made fun of, I decided to make a setting where I
  could go steady with a lot of people. </p>
<p> One of them was Ridia. Since the setting of Ridia and Mel and Xia was too unnatural, I conjured up the fiction of
  Axet and such around it, I think, but in reality, it was as what they pointed out. </p>
<p> I am sorry for my pretentiousness. </p>
<p> In my early years, my appearance was a little good, so almost everyone agreed that love with Japanese girls would be
  the same, but they were wrong. I've never dated anyone but X and Y. </p>
<hr />
<p> When I was in E4 or E5, I lived in an apartment because a house was being built in Sayamagaoka. The house at
  Kamiarai was sold earlier than my parents expected, but the one at Sayamagaoka wasn't completed as soon as predicted,
  so we lived in an apartment for the time being. </p>
<p> While my family lived in the apartment, I had a dream where I met a girl named &quot;Yuu-chan&quot; and fell in love
  with her. I woke up in the morning, disappointed that it was a dream. Being an obedient, cute son who was well-loved,
  I felt like Yult. </p>
<p> After that, during another dream, I met the lively and energetic &quot;Rie-chan&quot;. I was only in E4 or E5, so I
  think I became genuinely aware of my nature. </p>
<p> I never met either of them in another dream, but this was the first time I'd fallen in love with 2D characters. </p>
<p id="retfootnote2"> A comic named &quot;Goldfish Warning!&quot; appeared in <i>Nakayoshi</i>, and the anime was
  broadcast from 12 January 1991 until 29 February 1992 <a href="#footnote2">[2]</a>. I found out about this work from
  the anime. </p>
<p> I liked the protagonist, an energetic, cute girl named &quot;Wapiko&quot;. As a result, I bought the comics as well.
  I have one volume of the old edition with the pink cover and two volumes of the blue-covered edition, neatly beside by
  bed. </p>
<hr />
<p> Speaking of 1991, FF4 was released on Friday 19 July. I was in school on that day, so I asked my grandmother to buy
  a copy at a defunct toy store called Märchenland, but there was already a line by the time she arrived at the store,
  and there were only five copies delivered. She left without buying and went to Seiyu as well, but she didn't buy a
  copy there either. </p>
<p> The history of Arka began when I, returning from buying a Fanta Orange from a vending machine that night at 8 P.M,
  was greeted by Ridia, but it might be that nothing appeared outside for me on that day. </p>
<p> After that, I went to an outdoors school, and after that, during the summer break's morning, I finished my meal and
  my mother brought a copy of FF4 hidden in my grandmother's room. The Sadakari family often bought consumer electronics
  at Seiyu, so through a connection with a businessman there, another copy was delivered to us (a bit dishonest...).
</p>
<p> I still don't know the day when it happened, but when I asked my mother in the parents' room at the Sayamagaoka
  house whether she knew when they brought her the copy of FF4, she retrieved the account book from that time (1991) and
  it had an expense of about 8,000 yen for the game on 27 July, so maybe that was when we got FF4? </p>
<p> According to Arka history, after I ate lunch that day, we went to a park with a merry-go-round, where I was greeted
  by the teacher Liiza; it has been decided that I met Ridia in Nagano Park. </p>
<p> I don't know if it was on 27 July, but what I remember is that I was playing FF4 during the morning, then I found
  Rydia in the vilage of Mist, and in Kaipo did I add her to the party. </p>
<p> Rydia was only level 1 with 30 HP, but I levelled her up aroud Kaipo. Amano's illustrations of her in the manual and
  status screen weren't cute, but her pixel art during battle and movement (especially during battle) were; I thought
  they were cute. </p>
<p> At that moment, my mother entered my room with a vacuum cleaner, but I thought that if I told her that this girl was
  cute, she would disagree and call it erotic, so I didn't say that Rydia was cute in front of my mum. </p>
<p> From the age of five, I had coprolalia: I had a mysterious illness where I couldn't settle to avoid saying something
  that I knew I shouldn't say. As a result, even though I didn't really think Rydia was cute, I blurted out, &quot;Rydia
  is cute&quot;. </p>
<p> By a miracle, when I said that, my feelings became firm, and I reached a point where I really thought Rydia was
  cute. </p>
<p> I don't recall my behaviour after lunch. I might have gone to the park, or I might have continued the game. </p>
<p> I cleared FF4 in August. I last completed the &quot;Lunar Subterrane&quot;, but at that time, I didn't know when the
  game would end. </p>
<p> If only I guessed, &quot;Surely this is the last dungeon&quot;, I would have known when I started it for the first
  time that I'd be okay with whenever the game ended. At that time, I liked Rydia too much. </p>
<p> The second term of E5 started in September, when friends visited each other's houses. I let Rydia float at my
  top-right and had conversations with her in my mind. </p>
<p> Occasionally, I would arrive late to Kamiarai Elementary School without anyone else, I left Rydia on a nearby small
  hill going up (called the Nalta hill in Arka ihstory). </p>
<p> I locked up Ridia inside my mind and didn't let her out; the hill was a watershed between fantasy and reality.
  Therefore, it was called the &quot;hill of Nalta <i>(do not enter)</i>&quot;. </p>
<p> When I was in E5, I wouldn't call Ridia where I was; rather, I would think it interesting to go to Ridia's world
  (later called Kaldia). Going to school in a world with no name, I found Ridia as a friend. </p>
<hr />
<p> After that, before and after moving to Sayamagaoka in 23 December 1991, I &quot;defeated the leader Ovi and made him
  my companion&quot;. I think the name Ovi came from &quot;Revi&quot; from <i>Ten de Shōwaru Cupid</i>. </p>
<p> The Golden Week of M1 (1993), I befriended Kliiz, and by M2 (1994) I had made friends up to Mik-chan. I explained
  them as disciples. The name &quot;Kliiz&quot;, I think, sounded like a ripoff of a white person's name once I heard it
  a lot. She used her nails as a weapon and was modelled after Alena from DQ4. </p>
<p> Gil came from Gilgamesh in FF5. In high school and university, I thought, &quot;Gilgamesh is the same, so let's use
  magical remodelling to make it Geehamjuu&quot;, and in U2, I decided to change it to Gil to make it easy to say; thus,
  Gil was born. </p>
<p> Fulmiia came from Meena in DQ4. Even the setting of a diviner was a complete ripoff. &quot;Ful&quot; must be
  arbitrary. </p>
<p> Ryuu was named after the character in Street Fighter II or the dog in <i>Nobody's Child</i>, or maybe just because I
  found it cool to be named after a dragon. The archetype of a boy with freckles is perhaps from Thomas from Fortune
  Quest (FQ). </p>
<p> Mel's name came from the priest Merle from <i>Dai no Daibōken</i>; the character from Rumy in FQ. (The younger
  sister Knoll (from FQ) is said to be Mel, but Mel's name came from Merle.) Since I wanted a little sister, she turned
  out to be 8 grades below me (Mel's grade was set in stone at that time). </p>
<p> The name Raldura originally meant &quot;emerald&quot;. The character was modelled after a one-eyed man said to be a
  discounted version of Papuwa. Since the name wasn't very Arkaïsh, I took the &quot;rald&quot; from &quot;emerald&quot;
  and magically changed it to &quot;Raldura&quot; in high school and university. </p>
<p> Zana came from an advert for a game called &quot;Legend of Xanadu&quot; printed in an issue of <i>BASIC
    Magazine</i>, wich I bought in middle school. The name &quot;Xanadu&quot; was cut to &quot;Zana&quot; during U2. By
  the way, Xanadu was, for a short time, baked to &quot;Zahhaduua&quot; before being shortened to the current form. </p>
<p> Paal came from what Rumy's nickname for Pastel, the protagonist of FQ. She originall didn't have an archetype, but
  in M3, I gave her one based on Amelia from <i>Slayers</i>. </p>
<p> As for Mik-chan, there was an ero-manga magazine called <i>Hot Milk</i>, which was often displayed outside by a
  bookstore near the station. I was browsing the store in M1 or M2; in one of the stories, a girl went to a park
  restroom, and she locked the doors as an old pervert decided to hunt her down; when the man's daughter saw this, she
  poked him in the eye with the umbrella and ran away with the girl. That girl's name was Mik. </p>
<p> I reüsed that plot: at Daimachi Park in Yokohama, I saved Mel from what seemed to be a prank by stabbing the
  offender in the eye with an umbrella. </p>
<p> Thus, Mik-chan's character design was that of Crepe from <i>Sorceror Hunters</i> (from the novel edition). By the
  way, Lein from <i>Book of Xion</i> was modelled primary after Mik-chan [from the story]. Mik's real name was Milf; I
  thought &quot;Mik&quot; was too Japanese-like, and since she was like an elf, I used the similar-sounding <i>Milf</i>.
</p>
<p> I made Kmiir during M3 or H1. His name was <i>a priori</i>, but at first, I had an uncomfortable feeling that the
  name resembled &quot;Krillin&quot;. The character was based on Hotaru Tomoe from <i>Sailor Moon</i>. Kmiir was born on
  6 January, because Sailor Saturn was born on that day. </p>
<p> In high school, I named the disciples of Sorn <i>a priori</i>, but Rava came from Larva <a href="#footnote3">[3]</a>
  from <i>Vampire Princess Miyu</i>. – The above are the origins of the disciples. </p>
<hr />
<p> I don't remember when I started liking Wapiko. </p>
<p> In the summer of 1991, my mother, my grandmother and my little brother went to Sayamagaoka from Kotesashi. My
  brother went to Dairoku Bunka Kindergarten, but when we moved, he started going to Kodemari Kindergarten, so before we
  moved, our parents took us to the summer festival there. </p>
<p> That time on Saturday, <i>Goldfish Warning!</i> was going to start at 7 P.M., so I hurried off the train to the
  apartment, so at that time, at least, was shen I started liking Wapiko. </p>
<p> But since this was summer, this was the time when I like Rydia. So I don't know if I liked Wapiko or Rydia more.
</p>
<p> I think I prefer Wapiko amongst 2D characters, but Rydia was my first love amongst game characters. </p>
<p> When I say why Rydia grew inside me but Wapiko didn't, I think that was because my memories of the SNES those days
  were scarce. </p>
<p> FF4 is only 8&nbsp;MB large. There were only a few pieces of pixel art, so you had many liberties with the
  characters. </p>
<p> Wapiko's appearance and voice were set in stone, so there's no room for customisation. So I think that's why Rydia
  lives on. </p>
<p> I hated the grown Rydia in scanty clothes from FF4, but her pixel art in its coarseness gave the impression that she
  was wearing a long robe. I enjoyed such clothes, so I came to like Rydia even more. </p>
<p> In the beginning, I stayed with her as a friend, but from my blooming, I considered her as &quot;a lover once these
  years have passed&quot;, and I dated her on my birthday in M2. </p>
<p> Even after I went with X and married her, I didn't forget about Ridia, and after the divorce with X, I gave birth
  with Ridia to twins. Though that's fiction. </p>
<hr />
<p> I was convicted on 20 December 2013; on 24 December, I was taken to Yokohama Prison. While I was alone, I went to
  Kaldia for the first time since E5, and they went as far as calling me. </p>
<p> In Kodawara Prison, I was misdiagnosed with schizophrenia and prescribed Risperidone, but walking made my head
  dizzy. </p>
<p> There was too much for me to handle at Yokohama Prison, and my arse was numb to the point that I can't feel anything
  when I wipe it, but when I stopped taking the Risperidone, things got better. </p>
<p> At that time, my prison psychosis was worsening, and as usual, whenever I tried to go to Kaldia, my head felt worse
  and I didn't succeed. As a test, I tried calling Xia and company into the living room and that simply worked;
  furthermore; I stopped feeling lonely. </p>
<p> During my time in Yokohama, I kept company with Xia as well, and with Xia's help, I managed to love Ridia, Mel and
  Xia equally. </p>
<p> Afterwards, Xia said, &quot;If Mum (Ridia) has me, then Mama (Mel) should have Dad's son&quot;. Shortly before that,
  on a bench at the central park of Shintokorozawa, she told Mel, &quot;Mel, do you want kids, too?&quot;. As a result,
  Mel gave birth to a girl named Sakura on 19 December 2015 (fiction). </p>
<p> There was an all-too-lively family in my head (I had grudges against families so I didn't call it a family but
  rather a companionship [<ruby>絆族<rp>(</rp>
    <rt>はんぞく</rt>
    <rp>)</rp>
  </ruby>]), a white cat named Yue, a mame-shiba named Nadeko (named after Nadeko Sengoku from Bakemonogatari). Even
  though I lived alone, I wasn't lonely. Occasionally, someone from another room would look and think, &quot;Alone but
  not lonely? Poor guy.&quot; From the age of ten until I was 27, I continued to think of Ridia, so I've achieved the
  wild dream of being alone yet not lonely. </p>
<hr />
<p> In a few words, I like Ridia more than Arka. </p>
<p> Originally, I specialised in the sciences in high school, but I wanted to make Ridia in the form of an android by
  any means possible, so first of all, I planned to study how to make an AI. </p>
<p> But I didn't think I could make a human-like android within my lifetime, so I gave up on AIs and androids. </p>
<p> Since I was young, I thought I wanted to make Ridia in some way and have her in my arms. For now, I at least wanted
  to create the outer apperance of Ridia and friends, and stepping out of my comfort zone, I used a PC to create their
  models, mostly faces. Deep inside, I thought of studying and practising drawing. </p>
<hr />
<p> I first knew about FF4 through Famitsu. </p>
<p> Some time ago, my father received a copy of FF3 as a prize from pachinko. The fourth game in the series was featured
  in the issue of Famitsu that he casually bought for me. </p>
<p> I still remember seeing the scene where Rydia fought Thunder on the right side, when Rydia was entirely unconscious,
  (or perhaps, I didn't know their name); I was attracted the beauty of Thunder's graphics, and I knew I wanted FF4.
</p>
<p> By no means did I sublimate FF4's characters, having come into sight in Famitsu, as important in my life at that
  time. </p>
<p> Because of that, it's a total lie that I started Arka on 19 July 1991. I didn't encounter Rydia until 27 July. </p>
<hr />
<p> Then when did I start conlanging? The fall of M1. The first conlang that I made was called Kanna Arka, created in
  October; I wrote a few examples in my student notebook, but it appears that perhaps at that time, I doodled in my
  notebook during class. </p>
<p> It was a substitution cypher in which consonants and vowels were combined into glyphs, such that the Japanese kana
  were merely converted into their equivalents in the cypher. I quickly got tired of it. </p>
<p> When I was in M2, probably in the autumn, I was walking alone in the corridor. When two students passed by, I
  thought for a while, &quot;If right here I whispered in a language no one else understood, then even if someone
  catches seoomthing, the information would never leak out, that'd be cool.&quot; I came down the stairs of Sayamagaoka
  Middle School. </p>
<p> At that time, I didn't really have the idea of <i>chuunibyou</i>, and I truly thought I was handsome. In 2012, a
  cram school student who was invited to a school festival took a picture of theses stairs on their iPhone and uploaded
  the picture on the Internet as <hacm>naf t'arka</hacm> (Staircase of Arka). </p>
<p> At that time, I bought a red 100-page notebook from Kokuyo and wrote the notes for the conlang I created, but
  perhaps not even seven days later, I got tired of it. </p>
<p> This notebook was recycled during my high school years as the Red Anknot. From 12 January 1998, or the third term of
  H2, I started working on the Red Anknot. </p>
<p> Originally, it was influenced by tarot cards (it was inspired by the tarot card mystery case in <i>The Kindaichi
    Case Files</i>. I bought and read the comics), and I tried to make an original divination system. Then I realised
  that I would need various words related to fortune-telling, so it gradually became a conlang, and the fortune-telling
  idea improved by all means. </p>
<p> In those days, I took physical education and kendo, mainly to observe how it was done, but as I started sitting in
  <i>seiza</i> in my free time, did one-man living in Kamifukuoka, and enjoyed taking night walks, I wished to be called
  something other than Shimon Sadakari. While watching kendo, I thought <i>a priori</i>, &quot;isn't there some kind of
  cool sound?&quot; </p>
<p> I thought &quot;Arka&quot; and &quot;Arxe&quot; sounded cool; even cooler would be to place Arxe as part of my
  common name, and Arka as the name of the language created by the Red Anknot. </p>
<p> This is the secret story of Arka's true birth. But I think I stopped working on the Red Anknot after one year. </p>
<p> While I was waiting to retake the entrance exam, I wrote a novel; during U1, I suddenly thought in North House #1
  that I hadn't done anything in my life, but I knew I had Arka, and in July 2001 (U2), I remade Arka. </p>
<p> This was Established Arka, used from then until 2013, for 12 years. That means that Old Arka was finished in 1998.
</p>
<p> My history as a conlanger is said to have started in 1993 (M1). Therefore, today (2018), a quarter of a century has
  passed. </p>
<hr />
<p> That Arka is <i>a priori</i> is a wonderful lie. There are still quite a few <i>a posteriori</i> words left. </p>
<p> Water is <hacm>eria</hacm>, but that comes from the water sorceress Elia. <hacm>arbazard</hacm> comes from an anime
  called <i>El-Hazard</i>. </p>
<p>
  <hacm>seren</hacm>, according to my gossip, came from &quot;Silcence&quot;, the name given by the novel Anknot that I
  had written from M3 (10 August 1995) to wanting quiet men; that name was magically baked into &quot;Seren&quot;. It
  was a lie that the name was originally pronounced [θɛɹɛn]; it was originally [s] and not [θ].
</p>
<p>
  <hacm>duurga</hacm> and <hacm>viine</hacm> come from FF3's Doga and Unei.
</p>
<p>
  <hacm>teo</hacm> is written <img alt="a character that resembles ↓"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAC/SURBVDiN7dI9agJBFADgjyAWapFGSGeTxnJRbD2AveQEuVgOYCoPYJFGYbG1tLFIIYhY2CSFszAEWXZWscqDgffm55sHMzww+ljhI+VQo2StjQF+UsCnlM3/4GPAslcuoov3kvUl8iqXDV2+TNn4Qie1w2/MQv6MacjXmOBYpbu4w2WoW1iEuQ1eqkLXwCbmod6il4rFYI7PkO/wWgeLwWLskdXF/oIHjG7BYvCE8a1YAZ5dvsZdIsPbvbDa8QvuayxVWhgtmQAAAABJRU5ErkJggg==" />
  and <hacm>ax</hacm> is written <img alt="a character that resembles フ"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADsSURBVDiN5dKhSkRBFIDhz9WgICIoouADrMhu0m4wbDItmHwA27bFTRrM4jvoEwib16LJZjFZtAiiFhVxWcM9KzfcsDoXDP4wzMxhzj9nmMO/ZwdtjI1wtopTHGF+GMwn1nGFCdzgJPYPeMEClrGODazlcls4Lrp1E7cYjDCe8RTrraIKh1TQCHkds5gOwT2ucYnzeMEKahFPYg6feMdUvprf0sA4engrQ9iMuZvg+GYVfbxisQzhmex3C1vlp+yG7BFLqbImPkK4nSKqoCNrkwH2U2Q1XISoj70UGRyG7E7We8lM4gAzZcj+ni9/rDXf4/pOywAAAABJRU5ErkJggg==" />.
  <img alt="teo"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAC/SURBVDiN7dI9agJBFADgjyAWapFGSGeTxnJRbD2AveQEuVgOYCoPYJFGYbG1tLFIIYhY2CSFszAEWXZWscqDgffm55sHMzww+ljhI+VQo2StjQF+UsCnlM3/4GPAslcuoov3kvUl8iqXDV2+TNn4Qie1w2/MQv6MacjXmOBYpbu4w2WoW1iEuQ1eqkLXwCbmod6il4rFYI7PkO/wWgeLwWLskdXF/oIHjG7BYvCE8a1YAZ5dvsZdIsPbvbDa8QvuayxVWhgtmQAAAABJRU5ErkJggg==" />
  comes from the scene of the falling meteor in FF7. Because if the meteor falls, then humans will be extinct, the one
  who caused it is a bad fellow.
</p>
<p>
  <hacm>ax</hacm>, or <img alt="a character that resembles フ"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADsSURBVDiN5dKhSkRBFIDhz9WgICIoouADrMhu0m4wbDItmHwA27bFTRrM4jvoEwib16LJZjFZtAiiFhVxWcM9KzfcsDoXDP4wzMxhzj9nmMO/ZwdtjI1wtopTHGF+GMwn1nGFCdzgJPYPeMEClrGODazlcls4Lrp1E7cYjDCe8RTrraIKh1TQCHkds5gOwT2ucYnzeMEKahFPYg6feMdUvprf0sA4engrQ9iMuZvg+GYVfbxisQzhmex3C1vlp+yG7BFLqbImPkK4nSKqoCNrkwH2U2Q1XISoj70UGRyG7E7We8lM4gAzZcj+ni9/rDXf4/pOywAAAABJRU5ErkJggg==" />
  is the holly film protecting humans from the falling meteor.
</p>
<p> The verb <hacm>sowaka</hacm> in Arka came from a <a href="https://en.wikipedia.org/wiki/Svaha">Sanskrit word</a>
  (meaning unknown), probably not from CLAMP's &quot;X&quot;. </p>
<p> Even though I want to use original words in their place, one by one, these will be around because there's no end. In
  short, Arka has many <i>a posteriori</i> words that cannot be cut off and will remain. </p>
<hr />
<p> Arka was made by one person: me. Not a few dozen, but rather one. It was created laboriously. In the past, Kakis
  often said that since Ridia and friends did not exist, they were made up by Seren, or rather, it was as if Seren's
  superhuman legend grew, but while I saw this, I thought, &quot;I agree, I'm lying.&quot; </p>
<p> I tell the story of my meeting with the disciples in Shinjuku on 2 February 2001, where I bought Mel a big stuffed
  bear for 10,000 yen, but the only thing I bought there was a female prostitute from a foreign country. </p>
<p> Ridia's trip to Okinawa was also a lie. At a store called Lyra, near Junku, I called Nias and told him I was at
  Okinawa, then, 20 minutes later, I paid 4,000 yen to go to a soapland. I convinced Nias that Ridia was speaking, when
  it was only an employee at the soapland who greeted him. Nias tweeted &quot;surprise call&quot;. </p>
<p> Even the supposed picture of Ridia appearing from behind was merely one of a walking man in front near a park in
  Helsinki. </p>
<p> The photograph purported to be of Mel on March 2013 was of a white prostitute at Ikebukuro who came to a hotel
  called Fooo. </p>
<p> By all means did I manage to convince everyone else. </p>
<p> <i>Ardia</i>, or &quot;God's repentance&quot;, was not Ridia's creation but mine. I wanted to believe that Ridia was
  real from what people said, and I lived with the pretensions of having girls. </p>
<p> Liiza said, &quot;If truth is truth, then one must not only accept it, but also cope with it.&quot; But those were
  actually the words of my U1 logic professor. </p>
<hr />
<p> Anyhow, I decided that because the truth was that Ridia and company were imaginary, I could not let lies stay as
  lies, and I wrote to those who no longer believed in them (in fact, probably almost everyone had doubts): &quot;You
  were right. I lied,&quot; unconditionally. </p>
<hr />
<p> I started trying to tell people about Ridia in M1. One of them was a man named &quot;I&quot;; I stopped thinking
  that he was hiding it in his heart. </p>
<p> O-kun was the first person to whom I showed the Red Anknot, in H3 as well as when waiting to retake the exam. A
  friend called T was next. </p>
<p> I told people about Ridia; in the case of O-kun, I didn't remember my motives, but he didn't do anything like
  revealing the secret. </p>
<p> I talked on and on about Ridia on the Internet; those I talked to were strongly convinced of her existence, because
  I thought that if the lie pierced through, then it would become true. </p>
<p> When I created the Red Anknot, it was originally not for a conlang but rather a fortune-telling system called
  <i>kaade</i>; I think the language called Arka came from <i>kaade</i>. </p>
<p> By the way, <hacm>kaade</hacm> came from German <i>Karte</i>. <hacm>kacte</hacm>, or &quot;park&quot; in Arka, also
  came from German – in this case, <i>Garten</i> (as in the English word <i>kindergarten</i>). </p>
<p> I believe that it was when I was in university that Ridia became Finnish, because I liked having her be Asian but
  appear white. </p>
<p> For some time, Ridia was in Turkey, between Europe and Asia, where the two cultures mixed. </p>
<hr />
<p> Whether or not even 2ch trolls think I look good, I've never dated anyone except X and Y, yet surprisingly, there's
  no doubt that I've had a long history of affairs with women. </p>
<p> I tend to get many compliments about my looks from men. I've gotten such comments from women as well, but because
  human nature has a problem, I don't count them as all. </p>
<p> There were trolls who thoroughly insulted me for male chauvinism on 2ch, but I've never done such things because I
  had a grudge against women. To love the female body but to hate women is my honest feeling. </p>
<hr />
<p id="retfootnote4"> I had few <i>male</i> friends in the first place. I know of only three prolonged and profound
  relationships: one with O-kun from M2 until 30 moves ago <a href="#footnote4">[4]</a>, and with T and Nias from M3 to
  U3. </p>
<p> I'm not sure if I can count A, whom I hang out with from U3 until [I was] about 28. After that, I got with Kakis. It
  was only for a short time, but I don't think these people understood me the most in the world, not as much as the
  three other people or my family. </p>
<p> From 2006 until 2008, I worked as a regular editor for a certain publisher, working on STEP and TOEIC workbooks;
  during that time, I lived near Edogawa and commuted to work by foot. </p>
<p> I was returning from my parents' home to my place near Edogawa, but around 2007, Kakis often updated his blog on
  Sunday nights, and I had a lot of fun reading it on my feature phone on the train. </p>
<p> I got on the boom of changing jobs in 2008 and started working for a translation agency, but I resigned after I got
  rheumatism. </p>
<p> In 2011, I rented a space from Tokoroad and started a cram school, but for various reasons such as high tenant fees,
  I used my deceased grandmother's room from April 2013 on. </p>
<p> I've concluded that after the incident, the mass media must have written about the management of the cram school.
</p>
<hr />
<p> Above, I've written the true story of me and Arka. As a result of Shimon the braggart, many a person was decieved.
  Most of all, it was because I think no one believed me ever since my blooming. </p>
<p> I have decided to take the opportunity to tell the truth: I've sent my iPhone home to Nias. I am sorry. </p>
<p> If the Internet gets the details without problems, I'll upload <i>Book of Arka: Second Edition</i>. </p>

<h2>Postscript</h2>

<p> I retired from Arka on 19 July 2016. I don't think I've ever been involved in conlanging aside for the Book of Arka.
</p>
<p> To begin with, I wanted to work not on a conlang, but on Ridia. In high school, I took science classes because I
  wanted to make Ridia, and I've personally read books about AI, but whichever book I read, I find out that making Ridia
  within my lifetime is impossible, and that path was abandoned. </p>
<p> And then I made a world for Ridia and a language for her to use. Now that I think about it, because I've never been
  able to speak Arka as well as Japanese, however long I persist, I'm honestly okay with speaking Japanese to Ridia.
</p>
<p> When I was 17, before entering university, I think I've left my name in history since I was born, and I think about
  whether I could be the best at conlanging myself. I developed Arka because I was driven my my thirst for fame, from
  &quot;I want to make Ridia&quot; to &quot;I want to make my mark in history&quot;. </p>
<p> Now I return to the original goal of wanting to make Ridia, but ever since my teens, a human-like AI never came to
  be, so making her in human form is not possible. At best, something like a sex doll would be pretty enough. </p>
<p> I wanted to make an android of Ridia because I wanted to touch her and have sex with her, but I was still a kid in
  E6 so my lust fell, and now, I think I just want to make her face and body in CG, and that looks like my pasttime for
  my remaining years. </p>
<hr />
<p> Please write about your thoughts and opinions from reading the Book of Arka. I will collect your responses and take
  a look at them. </p>
<p> I'll be happy if you express your true thoughts. I'll also take questions. Please treat me well. </p>
<hr />
<p> Since Ridia's name came from FF4, there's no character model of her. </p>
<p> Of course, Ridia was from FF4 at the start, but the FF4 Rydia was strong-willed, so she was originally not my type.
  Ridia steadily got detached from her FF4 version, so the very character became original. </p>
<p> To me, the ideal woman is a <i>yamato nadeshiko</i> – cute, kind, devoted; raises the man; wholehearted; reserved;
  doesn't make friends outside my company; with a strong heart; &amp;c. Such characters, though, rarely appear even in
  manga. </p>
<p> Because I enjoy manga, I've read a lot of them, but the one most resembling Ridia, I think, is Kosaki from
  <i>Nisekoi</i>. </p>
<p> But she's the type to confess from her heart to someone who likes Ridia, and she would never think of deserting her
  boyfriend; those are the differences I can think of. </p>
<hr />
<p> As a child, I had no habit of keeping a diary, and although I bought a diary in M1 and M2, it immediately was left
  unwritten. From about university on, whenever there's something special, I keep it in a .doc or .txt file. It was from
  U4 on that I've kept a diary. </p>
<p> But my diary is riddled with mistakes. Let's start with Ridia: a display of contents of sexual experiences that
  never happened. Since the early years of elementary school, I was afraid of quarrels and such and never had them, but
  I frequently boasted of such fights. And beating delinquents during high school, &amp;c. </p>
<p> In the unlikely chance that my family or netizens might see my diary (e.g. if someone views my HDD or I get a virus
  or the diary is leaked), the reader will believe the pretentions of the existence of Ridia and others, or the many
  women I'm with (for most people assume that people don't lie in their diaries), for in this <hacm>disment</hacm>, only
  I know what's true and what's false. </p>
<p> I was honest in futility; I went to the actual locations of my fictional dates – I went around the sites of the
  dates alone. On 2 February 2001, as well as on an off [day] in March 2013. </p>
<p> Whatever feeling that was, I feel lonely and empty. I kept thinking that if Kaldia really existed and Ridia came to
  greet me, then my life would take a 180. </p>
<hr />
<p> Speaking of thinking of creating Yult and Luxia, having played DQ5 in E5 or E6 and thinking of wanting twins of both
  genders, I've decided since such old days to give birth to them. </p>
<p> <i>Luxia</i> comes <i>a priori</i> from <hacm>luxia</hacm> of <hacm>lvan</hacm>, I think; <i>Yult</i> comes from
  <hacm>yulg</hacm>, which was ripped of from <i>Akuma-kun</i>. </p>
<p> Due to the timing of the birth, X snatched away the mixed kids I had with them, leaving me lonely and wishing for a
  child in fantasy at the least. </p>
<p> Sakura, the child between me and Mel, was obviously CC Sakura. </p>
<p> Furthermore, Yult was the most good-looking boy (a girlish boy) in the family, slender with straight black hair,
  meek and timid, occasionally with a tear-stained face, extremely strong in martial arts. In other words, he might be
  even more ideal than Ridia. </p>
<p> Yult's impetus for being a girlish boy was Ruka Urushibara from <i>Steins;Gate</i>, which he played on the Xbox 360.
  However, I thought, &quot;It's okay to be girlish...&quot;. </p>
<p> Which reminds me, I have a face said to be typical of an Okinawan. But if I'm honest, by joining my parents'
  conversations, I found that since my great-grandmother on my father's side was a French diplomat, I was an eighth. But
  since I took on my father's face, unlike my younger brother with a Japanese face, it's just a story that simple
  calculation firmly shows that I'm more than 12.5% white. </p>

<p id="footnote1"><a href="#retfootnote1">[1]</a> From now on, I'll abbreviate <i>2nd year of middle school</i>, <i>1st
    year of high school</i> and <i>3rd year of university</i> as M2, H1 and U1, respectively, &amp;c.</p>
<p id="footnote2"><a href="#retfootnote2">[2]</a> Strangely enough, even the Wikipedia page lists the end date as 29
  February 1992.</p>
<p id="footnote3"><a href="#retfootnote3">[3]</a> The original text romanises the name as <i>lover</i>.</p>
<p id="footnote4"><a href="#retfootnote4">[4]</a> Not sure what this is referring to in the original text.</p>