---
title: CONLANG
---

<style type="text/css">
  .kana,
  .miyu,
  .haruka,
  .eri {
    border-radius: .4em;
  }

  .kana {
    background: #2e0310;
  }

  .miyu {
    background: #311f01;
  }

  .haruka {
    background: #1d0335;
  }

  .eri {
    background: #2b2b00;
  }
</style>
<h1> CONLANG </h1>
<p> <i>Translated from the <a href="http://na2co3.exp.jp/conlangue.html">original Japanese.</a></i> </p>
<p> In 2016, I had something I planned to write. (by na2co3) </p>
<p> When writing the rest of the text, I put each character's words in a colour because I didn't want to to end each
  line of dialogue with who said it. </p>
<p> I wanted to look the every day system of conlangs, so I'll ask someone to continue (I'm no writer so I'll rely on
  others). </p>
<h2> Episode 1 </h2>
<p class="kana"> &quot;So what should we do now?&quot; </p>
<p> From this year on, I'm in senior high school. The entrance ceremony ended yesterday, and today was the first day of
  class. </p>
<p> The school district system was abolished this year, and I could choose between more schools. On the other hand, the
  chances of being separated from my middle-school friends increased. </p>
<p> I too was affected. I came to high school knowing no acquaintances, let alone my friends until middle school,
  although I didn't do too well on the entrance exam. </p>
<p> I, unsure of whether my friends did well, decided to get involved in clubs at once. That decision was a good idea,
  but I have no idea which club to join. I haven't joined a single club until now. </p>
<p class="kana"> &quot;For now, should I join the culture club?&quot; </p>
<p> While I was pondering upon such matters, I looked at the list of clubs when I spotted some unfamiliar symbols. </p>
<p class="kana"> &quot;Language construction research club...? Not the manga club?&quot; </p>
<p> How on earth could you create a language? </p>
<p class="kana"> &quot;I don't know much, so it's off the list.&quot; </p>
<hr />
<p class="kana"> &quot;<i>Itete...</i>&quot; </p>
<p> I was walking down the halls after school when I seemed to bump into someone. </p>
<p class="miyu"> &quot;Whoa, sorry. Are you okay?&quot; </p>
<p> The person speaking was a woman with a sense of some unsteadiness. </p>
<p class="kana"> &quot;Yeah, I'm fine.&quot; </p>
<p class="miyu"> &quot;Okay. Hey, judging by the colour of your indoor shoes, you're perhaps a first-year student?&quot;
</p>
<p class="kana"> &quot;Huh? Yes. I'm a first-year, but –&quot; </p>
<p class="miyu"> &quot;Still a first-year! Well, haven't you heard of conlangs?&quot; </p>
<p> Are languages fashionable in this school? I wonder. </p>
<p class="kana"> &quot;Con-langs? No, I haven't heard of them.&quot; </p>
<p> Then another girl came from the back and spoke to the senior I bumped into. </p>
<p class="haruka"> &quot;Hey, hey, there's no way she'd know!&quot; </p>
<p class="miyu"> &quot;But if she doesn't do even that, then imagine if she didn't join.&quot; </p>
<p class="haruka"> &quot;Hmm... Well, even then.&quot; </p>
<p> The senior I bumped into returned her gaze toward me and addressed me. </p>
<p class="haruka"> &quot; Sorry, ask us what you don't understand well.&quot; </p>
<p class="kana"> &quot;No, I'm especially fine. By the way... what's a conlang?&quot; </p>
<p class="haruka"> &quot;Hmm? Are you interested by any chance? A conlang is, well, a language created by a
  person.&quot; </p>
<p class="miyu"> &quot;Oh well. Some are fictional languages used in a fictional world; others are made to be a common
  world language; there are various languages.&quot; </p>
<p class="kana"> &quot;People... how do they make such languages?&quot; </p>
<p class="miyu"> &quot;They make them! From Esperanto to Arka, there are actually many languages created by
  people.&quot; </p>
<p> The senior speaks a little happily. </p>
<p class="miyu"> &quot;Well, well, why don't you join LangRes if you're interested? The Language Construction Research
  Club, that is.&quot; </p>
<p> That club that I crossed off my list some time ago. </p>
<p class="kana"> Well... I'll go ahead if I feel like it. </p>
<p> The senior, looking serious, pulled another person's hand and said: </p>
<p class="haruka"> &quot;Sorry, it's fine if you really feel like it. Look, let's go, Miyu.&quot; </p>
<p class="miyu"> &quot;Wait, Haruka –&quot; </p>
<p> They were being noisy. </p>
<p class="kana"> &quot;Huh? This is...&quot; </p>
<p> One of them dropped her handkerchief. </p>
<p class="kana"> &quot;It'd be better to send this, wouldn't it?&quot; </p>
<hr />
<p> At last, I arrived in front of the room of the Language Construction Research Club. Surely, the senior from before
  abbreviated it as &quot;LangRes&quot;. </p>
<p> On the door is a sheet of paper reading &quot;Language Construction Research Club: Recruiting new members!&quot; The
  lights in the room are on. </p>
<p class="kana"> &quot;I'm just here to give this back.&quot; </p>
<p> Slightly nervous, I open the door. </p>
<p class="kana"> &quot;Excuse me –&quot; </p>
<p class="miyu"> &quot;Oh, you're the first-year from before! You came!&quot; </p>
<p class="kana"> &quot;No, I came here just to return this.&quot; </p>
<p class="miyu"> &quot;Oh, thanks! I dropped this when we bumped into each other. I didn't notice!&quot; </p>
<p class="kana"> &quot;Th... Then sorry about that...&quot; </p>
<p class="miyu"> &quot;Oh my, you entered the room. Maybe because there are sweets and tea.&quot; </p>
<p class="kana"> &quot;Oh, sweets... Then I'll take them.&quot; </p>
<p class="miyu"> &quot;Wow –&quot; </p>
<p class="kana"> &quot;Con-langs? That was it, wasn't it? They're really a thing?&quot; </p>
<p class="miyu"> &quot;Yep, they are. Usually I speak a conlang called <i>Arka</i>.&quot; </p>
<p class="haruka"> &quot;I mainly work with Lojban.&quot; </p>
<p class="kana"> &quot;Arka... Lojban...?&quot; </p>
<p class="kana"> &quot;You're talking about conlangs, but aren't languages created by people as a whole?&quot; </p>
<p class="miyu"> &quot;That's right, that question.&quot; </p>
<p class="kana"> &quot;?&quot; </p>
<p class="miyu"> &quot;That question isn't asked much. Aren't natlangs created by people too? you asked.&quot; </p>
<p class="haruka"> &quot;Natlangs are definitely created by people too, but who created Japanese, and when? You can ask
  that question, but there's no clear answer, is there?&quot; </p>
<p class="miyu"> &quot;In contrast, a conlang is one where you can clearly identify who made it, and when. Of course,
  there might also be a goal in making it.&quot; </p>
<p class="haruka"> &quot;Not only one person, but a group can make a language for it to be called a conlang.&quot; </p>
<p class="kana"> &quot;For the Arka language and the Lojban language... what would be the answers?&quot; </p>
<p class="miyu"> &quot;Arka is the main work of Seren Arbazard, worked on since 1991.&quot; </p>
<p class="kana"> &quot;Really, it's been that old?&quot; </p>
<p class="haruka"> &quot;Lojban is from 1987. It was created by a group called LLG.&quot; </p>
<p class="kana"> &quot;Huh!? Since that long ago?&quot; </p>
<p class="miyu" id="retfootnote1"> &quot;And we usually don't say 'the Arka language' or the 'Lojban language', but
  rather Arka or Lojban <a href="#footnote1">[1]</a>.&quot; </p>
<p class="kana"> &quot;Oh, there's no need to say 'language'. Sorry about that.&quot; </p>
<p class="haruka"> &quot;It's okay; we don't mind that much.&quot; </p>
<p class="kana"> &quot;This... this is the Language Creation Research Club, if I remember. What activities do you do
  here?&quot; </p>
<p class="miyu"> &quot;Well, we jabber about conlangs... activities?&quot; </p>
<p class="haruka"> &quot;Don't call it 'jabbering'. We 'research' about conlangs.&quot; </p>
<p class="miyu"> &quot;In practice, all we do is jabber, right?&quot; </p>
<p class="haruka"> &quot;W... well, you're right.&quot; </p>
<p class="kana"> &quot;So are you the only two in this club?&quot; </p>
<p class="miyu"> &quot;Yep. Only the two of us.&quot; </p>
<p class="haruka"> &quot;The other members left or stopped showing up, so we joined last year.&quot; </p>
<p class="kana"> &quot;I see. Seems there's close to no one who knows about conlangs and such.&quot; </p>
<p class="miyu"> &quot;Right. It's lonely because nobody joins, because nobody knows about them.&quot; </p>
<p class="haruka"> &quot;Even our aggressive solicitation didn't work.&quot; </p>
<p class="miyu"> &quot;But –&quot; </p>
<p class="kana"> &quot;I'll join LangRes.&quot; </p>
<p class="miyu"> &quot;Really? Thanks –&quot; </p>
<p class="haruka"> &quot;Neither of us mind, so it's fine. Join the activities you want to...&quot; </p>
<p class="kana"> &quot;No, at first, I found out about this club but didn't have any intention of joining, but you seem
  fun to talk with, and languages... I'm starting to be interested in those too.&quot; </p>
<p class="haruka"> &quot;Is that it? If so, nice to meet you again. I'm Haruka Uesaki, a second-year student.&quot; </p>
<p class="miyu"> &quot;Nice to meet you. I'm a second-year too, Miyu Sasaki.&quot; </p>
<p class="kana"> &quot;I'm a first-year, Kana Asakura. Nice to meet you as well.&quot; </p>
<p class="miyu"> &quot;Mm-hmm. Well, just write that you joined.&quot; </p>
<p class="kana"> &quot;Yes.&quot; </p>

<p id="footnote1"><a href="#retfootnote1">[1]</a> This is tricky to translate from Japanese. In Japanese, language names
  usually get a &lt;~語&gt; suffix. Miyu explains that this is not the case with Arka or Lojban at least.</p>

<h2> Setting </h2>

<p> A high school in Saitama Prefecture, Language Creation Research Club </p>

<p class="kana"> Year 1 / Kana Asakura </p>
<p> Lively and healthy. </p>
<p> Doesn't know about conlangs, but ended up joining on a whim through a course of events. </p>
<p> High in curiosity and intelligence gathering ability, shows interest in various languages and finds a new language
  in front of her senior. </p>
<p> &quot;Senpaai, what's this?&quot; </p>
<p> &quot;Senpai, senpai! I discovered an interesting language!&quot; </p>
<p> Uses the <hacm>mayu</hacm> phase in Arka. </p>

<p class="miyu"> Year 2 / Miyu Sasaki </p>
<p> Arka, Nagili. </p>
<p> Humanities. Fluffy. Reads novels a lot. Interested in conworlds and history. </p>
<p> &quot;Arka really has a long history.&quot; </p>
<p> Uses the <hacm>milia</hacm> phase in Arka. </p>

<p class="haruka"> Year 2 / Haruka Uesaki </p>
<p> Lojban, and sometimes Toki Pona </p>
<p> Sciences. Wears glasses. Calm. </p>
<p> &quot;Lojban, well, is a language based on predicate calculus.&quot; </p>
<p> &quot;<i>Pona pona.</i>&quot; </p>

<p class="eri"> Year 1 / Eri Fujisawa </p>
<p> Joins the club shortly after the protagonist. </p>
<p> Has been conlanging since middle school. </p>
<p> Prone to recklessness. Can program. </p>
<p> Within LangRes, proposed making languages for a shared world. </p>