---
title: Daughter of Evil
---

<h1> Translations of Daughter of Evil </h1>

<p> <a href="http://www.nicovideo.jp/watch/sm2916956">Original</a> </p>
<p> <a href="https://vocadb.net/S/1590">VocaDB entry</a> </p>

<h2> Arka </h2>

<p> Thanks to <a href="https://gist.github.com/faras-palt/31ff25a02d5ca3cf8ef0366415b510d4">Faras Palt</a> for
  corrections. </p>


<div class="hacm">
  <p>
    rens / kelk: mosii (serfan akuno) <br />
    estel: kozet / faras palt
  </p>

  <p>
    "ketta, re komis sa non!"
  </p>

  <p>
    yumel o yumel, ka kalte flon o flon, <br />
    rsiilator daizkad verx o fanzel <br />
    sol neeme lant oken imelnia <br />
    le til onval tis tolis.
  </p>

  <p>
    lu tilat rakon sein faav yun fanvel <br />
    o yurens oken eel l'et myul a luut. <br />
    est e pab le lu siina at josefiin. <br />
    iltul ont illan at luut ilmel.
  </p>

  <p>
    silm gil em sej fiinaen non, <br />
    re vaf tuus i kadan leit sein. <br />
    silm xelan tel fan non hapel <br />
    re sanjelik luus ilmel.
  </p>

  <p>
    "ketta, re komis sa non!"
  </p>

  <p>
    miina e velnar et mans yunfil <br />
    kokko imel mon yun xante t'anjur. <br />
    sezo bettel sein mesen lu miina <br />
    ou, em almans vol em kait luut.
  </p>

  <p>
    lu neeme keete hatiat <br />
    yul vik soret raken tier. <br />
    tal lu vik feelat <br />
    yul min e diia le ra kad amox.
  </p>

  <p>
    neeme genomat lu ento em coki. <br />
    im xe sel, lu axivat alda luut, <br />
    see lu rensat kokko xiv seer <br />
    "re grein kad e diia"
  </p>

  <p>
    ra xeaalx at fai a dolf, <br />
    livro xeaalx at sedo. <br />
    emx e lan sein le na garv on tu <br />
    vatl lu neeme yuul.
  </p>

  <p>
    "lulu, tu et im e sobel xan."
  </p>

  <p>
    miina e velnar et mans yunfil <br />
    kokko nim sein cokian. <br />
    olta tu miina et lant tinka, <br />
    ou, el oj vil tu mil pis di rakan.
  </p>

  <p>
    lana vast lu neeme e velnar, <br />
    ai, kadan sein ar kit dalf tel lu. <br />
    solxe le sake a luus ruuf <br />
    et freian min le sabes hons har.
  </p>

  <p>
    naaze luutes es hant fol fil <br />
    ento fax ilm e kad luutes. <br />
    vai tis ani milgaal vas fil <br />
    et sen retl luutes yuul.
  </p>

  <p>
    ai, luus selan mesik daizra, <br />
    il res luut elfik a xe. <br />
    lu neeme ank o yunfi <br />
    ai, im tur, fosik yu.
  </p>

  <p>
    "lilis et xille!"
  </p>

  <p>
    miina e velnar et mans yunfil <br />
    kokko nim sein ent yun atiili <br />
    diakacte fiinaen lu neeme, <br />
    ou, sil vern minatel yun xeanalt.
  </p>

  <p>
    yumel o yumel, ka kalte flon o flon, <br />
    rsiilator daizkad verx o fanzel <br />
    sol neeme lant oken imelnia <br />
    le til onval tis tolis.
  </p>

  <p>
    mel t'adis luut et poen saam <br />
    teu mel le tinl e xiika et fo. <br />
    lu lan l'el anxat lex neeme <br />
    lo to pot yukka vesel eyo?
  </p>

  <p>
    ai, le halis len adis lunak. <br />
    see tinl le klak took ik fo. <br />
    kont lu lai fan selan yuul, <br />
    "lu neeme" rensik tu
  </p>

  <p>
    "lulu, tu et im e sobel xan."
  </p>

  <p>
    miina e velnar et met yunfil <br />
    kokko nim sein mon yun dialiiva. <br />
    selan xien lu rens sil tu. <br />
    ou, lu at seelel miva e velnar.
  </p>
</div>

<div class="glossSein" id="arka-gloss">
  <%= make_gloss(@items["/estel/raw-texts/musume-arka-gloss.txt"],
    { script: 'hacm' }) %>
</div>