---
title: Yu Arka
---

<p> <i>Translated from the <a href="http://conlinguistics.org/blog/?p=691">original Japanese.</a></i> </p>
<p> Below is an excerpt from a letter by Seren Arbazard, with errors corrected and formatting improved. </p>

<h2> Saturday, 5 May </h2>
<p> Right now, in terms of Arka, I'm working on &quot;Book of Arka&quot; (with an autobiography) and &quot;The True
  Arka-Japanese Etymology&quot;. </p>
<p> They have been uploaded to the outside world. </p>
<hr />
<p> In addition, I am planning to continue working on Arka. Arka is an expression of the life and values of a person
  named Seren Arbazard in the form of a conlang. </p>
<p> Since the conlang itself is, above all, an artlang, a &quot;product of liberal arts&quot;, I am taking Arka in that
  direction. I recognise the fact that Ridia, &amp;c, are people who exist in my mind; Arka is something I have worked
  on by myself, and thus it shows my personality. </p>
<p> I tried to make the conworld Kaldia and its contents, but I won't do that yet. In reality, the person I am will go
  back and create Arka from its roots of the &quot;value system&quot; called Kaldia, constructed with inspiration from
  various contents of FF, DQ and so on. </p>
<p> Since Kaldia is nothing more than various contents, my self-contemplation and the &quot;settings&quot; and
  &quot;value system&quot; of my likings, producing a conworld is not necessary. </p>
<p> I created a universe from scratch and thought of such things as Reallang, but this isn't something a person now
  could do, and although doing that would make the conworld the main part, what got me to where I am, what I feel is
  worth doing, what I get a sense of accomplishment from is conlanging. </p>
<p> In the outside world, I stopped working on conlangs and worked principally on a conworld with an unreasonable
  foundation. As a result, I started on the map, poured most of my attention to created many works of content, and I
  eventually left the conlang itself behind. </p>
<p> Also, I focused on advertising with things such as videos and comics to expand Arka to the conlanging periphery. But
  with neither money nor skill, this didn't go as expected, and I stopped working on essential Arka works. </p>
<p> Hereafter, Kaldia will not a conlang but rather my own sense of values, and I won't do any conworlding. That is,
  there will be no content. </p>
<p> I'll no longer spend my <i>solbe</i> [stamina] to discuss &quot;the history of things&quot;, or &quot; how Pangaea
  was split into Anxal and Insaal and the validity of Atolas's plate tectonics&quot;, or &quot;how to create
  camphor&quot;. That <i>solbe</i> now goes to Arka itself. </p>
<p> I have devoted my life to Arka. I lost my family – my wife, my son, my brother, my mother – through an unjustified
  act of domestic violence that went hand in hand with Arka. Will there be anything else in my life to which I would
  offer my body? </p>
<p> One of the most essential pieces of contents is the <hacm>kardinal</hacm> font. Other typefaces are no more than
  unrelated to the language, and I won't get in their way anymore. </p>
<p> But the only thing I'll go into making is Arka. The description of Arka as a conlang will increase: I'll expand and
  detail the language, revise all of my work, raise its quality as a conlang to its historical maximum. Not to make more
  side materials, but rather to refine the description of the conlang itself. </p>
<p> My goal is to improve its quality as much as possible in history. In order to achieve that goal, I will start by
  remaking the Arka of 2013. </p>
<hr />
<p> Workflow → Work on Arka concurrently with Book of Arka and True Etymology. </p>
<p> Write about <u>culture</u> and <u>setting</u> only when it's relevant to the language. </p>
<p> (Because what I value is the elaborateness of the conlang. Using Kaldia as my value system, culture &amp;c. is
  necessary for conlanging, so the reason is &quot;well, whether I use Kaldia&quot;.) </p>
<p id="retfootnote1"> To read linguistics books across all of the Working Ladder <a href="#footnote1">[1]</a>, and to
  create the language keeping the differences with English, German, French, Chinese, &amp;c in mind. </p>
<p> After being released and getting access to technology, I will rewrite the homepage and the Arka-Japanese Dictionary,
  and since I don't know when I'll die or if I'll be plagiarised, I'll entrust Nias, tell him during my good health how
  my wishes for maintaining these. </p>
<p> My purpose is not to have empathy to the aspect of <u>setting</u>; it is not to attract the periphery by making
  frivolous materials; I am only a conlanger who has made a practical conlang that understands the value of a conlang's
  elaborateness; as a result, I strive to have few people to value it, leave Arka on the history even more, </p>
<p> from now on, engrave deep proofs that I lived. </p>
<p> Because of Arka, I had trouble (domestic violence) with someone (my ex-wife), retaliated against her betrayal, was
  imprisoned; furthermore, the fact that I made Arka, the root of the disaster, shocked conlangers. They want me to feel
  the threats of &quot;Although we usually give up on imprisonment, this person is...&quot;. </p>
<hr />
<p> A conlang that's a chimera of Japanese and English, with inconsistent culture, climate and history or arbitrary
  setting is no good. </p>
<p> On top of having studied linguistics and foreign languages, I have made something that doesn't contradict
  linguistics, as if Kaldia, being background, were coherent. </p>
<p> Chimerae are clichés. Such a walk in the park done by many a beginner is an X. </p>
<p> For instance, with <hacm>viz</hacm> (to steal), why is the thing stolen in the accusative case? Because this
  alignment is like a chimera of Japanese and English, should I not adopt it? Wouldn't adopting this alignment cause a
  clash with another verb? </p>
<p> That is, I must inspect Arka a second time, without understanding it without knowledge of linguistics and foreign
  languages. This will be the practice when working from now on. But merely writing a lot is not enough. A system of
  grammar and such, coherent and precisely original to Arka, is needed. </p>
<hr />
<p> After my release, I will rewrite the homepage and the Arka dictionary bilingual in Japanese and English, because I
  want to compete in the world. </p>
<p> I will continue from New Arka, and thus not touch Vulgar Arka. </p>
<p> The Arka of 21 May 2013 on will be Yu Arka (<ruby>結幻<rp>(</rp>
    <rt>ゆうげん</rt>
    <rp>)</rp>
  </ruby>). It will adopt <hacm>arnaaj</hacm> (<ruby>幻月体<rp>(</rp>
    <rt>げんげつたい</rt>
    <rp>)</rp>
  </ruby>). </p>
<p> (* Note from na2co3: I've inserted an image of arnaaj. The font was made by aios. The bottom-right glyphs are
  &quot;(&quot; and &quot;)&quot;.) </p>
<img src="arnaaj.png" alt="arnaaj" />

<h2> Monday, 21 May </h2>
<p> I will stop conworlding. </p>
<p> I will make Yu Arka a conlang according to my system of values, Kaldia (no longer a conworld), alone, in
  <i>yumana</i> and falsity. </p>
<p> I will elimate the etymologies of the old Kaldia. </p>
<p> Project Ridia, the construction of human relations in fiction, as been going since 1991. </p>
<p> I will not participate in Vulgar Arka. Yu Arka will start from 2013. </p>
<p> If I probe into conlangs, I will make them my idiolect, even Esperanto. </p>
<p> In order to make its craftmanship as a language as a feature, I will reïnforce the diction rules of Yu Arka. There
  are multiple ways to evaluate a conlang, but I will sell it as a naturalistic language that really exists. </p>
<p> I will outgrow conworldism and contentism, whether the conlanging world needs a new trend soon. </p>
<p> The main purpose of Yu Arka is to be created over being used. Its usage is meaningless. I strive to be recognised
  purely for my good craftmanship of conlanging and carve my name further into history, and to achieve that goal, I will
  become a hero
  <!--alt: Anglicise-->. </p>
<hr />
<p> The genitive case is abolished. &quot;My&quot; will become <hacm>e an</hacm>, not <hacm>t'an</hacm>. <hacm>t'</hacm>
  is abolished. </p>
<p> The plural forms of pronouns are abolished. &quot;We&quot; is <hacm>sean</hacm>. </p>
<p> If any of you netizens have questions or comments, then please say them. </p>
<p> I have thought of a method to easily describe the diction of words with a group of labels called <i>the emotion
    scale</i>. </p>
<p> &quot;I knew it&quot; in English can be translated as (A) 「やっぱり」, (B) 「ほらみろ」 or (C) 「しってた」, but each has a different
  sense. In (A), the existence of feelings of blame depends on the context; therefore, the identity tag becomes +
  (exists) or &minus; (does not exist), and (A) gets [±blame (small – medium)]. Inside the parentheses is the strength
  of the emotion. </p>
<p> In (C), there's a feeling of resignation, as well as irony, so the tags are lined up as [resignation (small)]
  [±irony (small)], forming a scale. </p>
<p> (B) receives the tag [blame (medium – large)]. </p>
<p> In dictionaries of natlangs, words and phrases don't mutually get such a scale attached, but is that due to the
  circumstances of print, the meddlings of money-counters, and the fact that natives have a good sense of such things
  when they hear a word? </p>
<p> When the creator of a conlang doesn't set diction in stone with their dictionary, then each user will adopt that of
  their native language; as a result, I will try to properly describe diction and phrasing in writing. </p>
<p> Even if the diction is described exactly, if things such as pragmatics, syntax and collocations are ill-specified,
  the same thing will happen. The emotion scale seems useful when writing about diction. </p>
<p id="retfootnote2"> In fact, the emotion scale is an expansion and magnification of tags such as [negative] <a
    href="#footnote2">[2]</a> found in New Arka. </p>
<hr />
<p> Even though usage is not a goal for Yu Arka, a creator's own language is never complete. Each word requires
  understanding toward one's own language in not only its definition but also its diction, collocations, syntax,
  pragmatics, &amp;c., in a network of mutually organic relationships </p>
<hr />
<p> Yu Arka is <i>a priori</i> with no conworld in reality. <i>A priori</i> and <i>a posteriori</i> do not form a
  two-valued logic; rather, there is a gray zone between them. </p>
<p> If the <i>a priori</i>-ness exceeds the 50% threshold, then it's considered <i>a priori</i>; otherwise, it is <i>a
    posteriori</i>. </p>
<p> Esperanto reüses the spelling and the meaning of the English <i>sun</i> for <i>suno</i>, and being made only of such
  words, it is <i>a posteriori</i>. </p>
<p> Consulting the sounds but assigning a different meaning is impurely <i>a priori</i>. &quot;Löwenbräu&quot; is such
  an instance. It originally referred to a kind of beer. </p>
<p> There are instances where Arka has appropriated both the sound and the meaning of a word. Getting <hacm>eria</hacm>
  (water) from the water sorceress Elia from FF3 is <i>a posteriori</i>. Since <i>Elia</i> from FF didn't mean
  <i>water</i> itself, it's impurely <i>a posteriori</i>, though. Arka is not entirely <i>a priori</i>. </p>
<p> Because it became a language in reality, it is not necessary to consider a conworld, nor is it necessary to seek
  pure <i>a priori</i>-ness. <hacm>kokko</hacm> came from a person's name, and because Yu Arka is based on the concept
  of &quot;a world closed in Seren's false exquisiteness&quot;, <hacm>kokko</hacm>, <hacm>kon</hacm> and <hacm>ok</hacm>
  will be abolished. </p>
<p>
  <hacm>ayaka</hacm> and <hacm>yuuko</hacm> are no good either. But <hacm>kokko</hacm> and friends, being casers
  [prepositions], will cause great damage.
</p>

<p id="footnote1"><a href="#retfootnote1">[1]</a>
  The following is a translation from <a href="http://conlinguistics.org/blog/?p=323">this explanation of the Working
    Ladder</a>:<br />
  There are nine stages in the progress of a conlang: sound → grammar → lexicon → culture → climate → diction →
  cognition (認知法) → expression → mental corpus, arising from nine processes. <br />
  This rule is called the Working Ladder (作業階梯). <br />
  Seren created this rule in 2005 when he started conlinguistics, and work on its publication was done in 2015. <br />
  Conlangs in the 20th century went up as far as lexicon, and the importance of culture and climate were advocated from
  2005 on.
  Later, an American reïnvented the wheel in 2010. <br />
  In 2015, only Seren Arbazard is expressing the importance of diction and beyond, and the rest of the world is not
  enlightened enough. <br />
  In the future, someone might reïnvent the wheel and become enlightened. But Seren was the one to notice this ladder at
  the start.
</p>
<p id="footnote2"><a href="#retfootnote2">[2]</a> &quot;Negative&quot; is the literal translation from Japanese and also
  what the official Arka site seems to use, but I think Seren meant &quot;pejorative&quot;.</p>