---
title: Phonorun reduction utility for Middle Rymakonian
---

<script src="shuffle.js"> </script>
<script src="shuffle_page.js"> </script>

<h1> Phonorun reduction utility for Middle Rymakonian </h1>
Insert MR word: <input id="insert_text" class="hacm" type="text" onchange="updateOutput()" oninput="updateOutput()"
  onpropertychange="updateOutput()" onkeyup="updateOutput()" onpaste="updateOutput()" /> <br />
Output: <br />
<div class="hacm" id="output_text"> </div>