<!DOCTYPE html>
<html lang="<%= @item[:lang] || " en" %>">

<head>
	<meta charset="UTF-8" />
	<title>
		<%= @item[:title] %> — astral hideout —
	</title>
	<link rel="stylesheet" type="text/css" href="/theme.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
	<script type="text/javascript" src="/common.js"></script>
	<% if @item.path=="/" %>
		<link rel="stylesheet" type="text/css" href="/theme-index.css" />
		<script type="text/javascript" src="/ants.js"></script>
		<% end %>
</head>
<% if @item.path=="/" %>

	<body onload="initPage(); startAnim();">
		<% elsif @item.path=="/options.html" %>

			<body onload="initOptPage();">
				<% else %>

					<body onload="initPage();">
						<% end %>
							<div id="container">
								<% if @item.path !="/" %>
									<header id="title">
										<div class="titletext"><a href="/" class="titletext">— astral hideout —</a></div>
										<div class="subtitletext">+merlan #flirora's website</div>
									</header>
									<% end %>
										<main id="main">
											<% if @item.path !="/" %>
												<nav>
													<%= render_breadcrumbs %>
														<hr />
												</nav>
												<% end %>
													<%= yield %>
										</main>
							</div>
					</body>

</html>