---
title: Learn Mođëp'öso
---

<h1> Learn Mođëp'öso </h1>
<p align="center"><i> but before you do... </i></p>
<p> I started on this conlang during the autumn of 2009. Wow, that's old! I was only 12 back then! In fact, I didn't know much about linguistics and ripped off what I knew about Spanish! This means that the phonology is incorrect. It should actually be as follows: </p>
<h2> Consonants </h2>
<p>
	<table class="phonology">
		<tr>
			<td> </td> <td> bilabial </td> <td> labiodental </td> <td> dental </td> <td> alveolar </td> <td> postalveolar </td> <td> retroflex </td> <td> palatal </td> <td> velar </td> <td> uvular </td> <td> epiglottal </td>
		</tr>
		<tr>
			<td> plosive </td> <td> p' /p/ <br/> b /b˞/ </td> <td> 'p /p̪/ </td> <td> </td> <td> t d </td> <td> </td> <td> d' /ɖ/ </td> <td> c </td> <td> k </td> <td> </td> <td> </td>
		</tr>
		<tr>
			<td> fricative </td> <td> </td> <td> f </td> <td> ŧ /θ/ <br/> đ /ð/ </td> <td> s </td> <td> ś /ʃ/ </td> <td> </td> <td> š /ç/ </td> <td> k' /x/ </td> <td> </td> <td> </td>
		</tr>
		<tr>
			<td> nasal </td> <td> m° /m̥/ <br/> m </td> <td> </td> <td> </td> <td> n° /n̥/ <br/> n </td> <td> </td> <td> ń /ɳ/ </td> <td> ñ /ɲ/ </td> <td> </td> <td> </td> <td> </td>
		</tr>
		<tr>
			<td> approximant </td> <td> ŭ /w/ </td> <td> </td> <td> </td> <td> ř /ɹ/ </td> <td> </td> <td> </td> <td> ĭ /j/ </td> <td> (ŭ) </td> <td> </td> <td> </td>
		</tr>
		<tr>
			<td> lateral </td> <td> </td> <td> </td> <td> </td> <td> l /l/ </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td>
		</tr>
		<tr>
			<td> trill </td> <td> x /ʙ/ </td> <td> </td> <td> </td> <td> ŕ /r/ </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> r /ʀ/ </td> <td> q /ʢ/ </td>
		</tr>
		<tr>
			<td> implosive </td> <td> p° /ɓ̥/ <br/> b° /ɓ/ </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> k° /ɠ̊/ </td> <td> </td> <td> </td>
		</tr>
	</table>
</p>
<p>
	Miscellaneous: p /hp/ l' /lɹ/ č /k̩ʼ/ s° /s↓/ ç /ʡ↓/ r: /ɾ/
</p>
<h2> Vowels </h2>
<p>
	<table class="phonology">
		<tr>
			<td> </td> <td> back </td> <td> central </td> <td> front </td>
		</tr>
		<tr>
			<td> closed </td> <td> û /ɯ/ u </td> <td> ï /ɨ/ </td> <td> e /i/ ü /y/ </td>
		</tr>
		<tr>
			<td> </td> <td> </td> <td> </td> <td> y /ɪ/ </td>
		</tr>
		<tr>
			<td> </td> <td> ô /ɤ/ o </td> <td> </td> <td> ë /e/ ö /ø/ </td>
		</tr>
		<tr>
			<td> mid </td> <td> </td> <td> i /ə/ </td> <td> </td>
		</tr>
		<tr>
			<td> </td> <td> ÿ /ʌ/ ō /ɔ/ </td> <td> ē /ɜ/ </td> <td> ê /ɛ/ </td>
		</tr>
		<tr>
			<td> </td> <td> </td> <td> </td> <td> ä /æ/ </td>
		</tr>
		<tr>
			<td> open </td> <td> </td> <td> </td> <td> a </td>
		</tr>
	</table>
</p>
<h2> Additional matter </h2>
<p> &lt;ä&gt;, &lt;ÿ&gt;, &lt;ĭ&gt;, &lt;ŭ&gt; and &lt;ï&gt; are written as &lt;a'&gt;, &lt;y'&gt;, &lt;i'&gt;, &lt;u:&gt; and &lt;i:&gt;, respectively in the documentation linked below, because I have yet to convert them. </p>
<p> There are two other orthographies for this language: the oldest one uses apostrophes (and later, colons), and the other one requires combining characters. </p>
<p> Also, the images were drawn in MS Paint and two of them are in JPEG format, because I didn't know better back then. </p>
<p> The grammar is just Spanish without gender, adjectives, the more complex TAMs or indirect object pronouns, and with the direct object pronouns imitating those of English. </p>
<p> now without further ado, <a href="Mopso.html"> here's the original documentation. </a> </p>
<p> or <a href="../index.html"> return to the list of conlangs </a> </p>
